.complexForm{

	padding:20px 15px!important;
	box-sizing:border-box;
}
.complex__title{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0 0 10px 0;
    font-size: 16px;
    color: #444;
}
.complexForm__wrp{
    display: inline-block;
    width: 100%;
	padding: 0 10px;
    box-sizing: border-box;
}

.layout-1 .complexForm__wrp{
    padding: 0;
}

.layout-3 .complexForm__wrp{
    padding: 0;
}
    .complexForm-form{
    padding: 0;
	overflow:hidden;
    }
.onFormOpen span{pointer-events:none;}	
.modalForm__header{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    text-align: left;

    color: #fff;
    font-size: 18px;
	
    box-sizing: border-box;	
}

.modalForm__headerLogo{
    max-width: 50%; 
    box-sizing: border-box;
    vertical-align: top;
}


.complexForm__callback-html{
    width:300px;
    padding: 20px 0;
	text-align:center;
}

.complexForm__title{
    padding-bottom: 20px;
    font: 20px/24px 'RobotoRegular', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #2c2c2c;	
}
.complexForm__title2{
	padding-top: 5px;
	padding-bottom: 15px;
	font: 20px/24px 'RobotoRegular', Helvetica, Arial, sans-serif;
	text-align: left;
	color: #2c2c2c;
}

.complexForm__title3{
	padding-top: 10px;
	padding-bottom: 10px;
	font: 20px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
	text-align: left;
	color: #2c2c2c;
}

.text__color-red{
	color:#ff4638;
}
	
.complexForm__description{
	display: inline-block;
	padding:0;
}

.credit__links{
	display: inline-block;
	
}
.credit__link{
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 12px;
	color: #fff;
	background-color: #ff4638;
	border: 0;
	border-radius: 4px;
}
.credit__link:hover{opacity:.7;}


.credit__title{
	
}
.credit__body{
	
}
.credit__body ol{
	padding: 0 0 0 18px;
    margin: 0 0 15px 0;	
}
.credit__body li{
    font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
	color: #181818;
}

.credit__body-title{
    display: inline-block;
    width: 100%;
    margin-right: 5px;
    font: 16px/16px 'RobotoRegular', Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #181818;	
}
.credit__body p{
    font: 15px/20px 'RobotoLight', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0 0 10px 0;
	color: #181818;
}


.credit__addtext{
	display:inline-block;
	padding:10px 0 0 0;
	text-align:center;
}

.credit__calc-row{
	display:inline-block;
	width:100%;	
	padding:5px 0;
}

.credit__calc-row2{
	display:inline-block;
	width:100%;
}

.credit__calc-label1{
    display: inline-block;
    width: 60%;
}
.credit__calc-label2{
    display: inline-block;
    width: 70%;
	line-height:34px;
}

.credit__calc-input1,
.credit__calc-input2{
    padding: 4px 6px;
    border: none;
    border-top: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;

    border-radius: 3px;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: inherit;
    color: #444;
    text-indent: 3px;
    width: 100%;
    height: 34px;
    box-sizing: border-box;
}

.credit__calc-input1{
    float: right;
    width: 40%;	
}
.credit__calc-input2{
    float: right;
    width: 30%;	
}

.complexForm-input-row {
    width: 50%;
    float: left;
}

.complexForm-wrap{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.complexForm-group{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;	
}

.complexForm-required{
    padding-left: 15px;
}

.data-style{width:16px;height:16px;float:left;}
.data-text{overflow:hidden;display:block;}
.complexForm-input-row-center{text-align:center;}
.complexForm-input {
    position: relative;
    padding: 10px 5px;
}

.error-block{

    padding: 0 5px;
    box-sizing: border-box;
    width: 100%;
	line-height:0;
    background-color: #ff0000;
    font-size: 12px;
    color: #fff;
	transition:all .3s;
	overflow:hidden;
}
.error .error-block{
	line-height:10px;
	padding: 5px 5px;
	}

.complexForm-box{
	border-radius: 4px;
	text-shadow: 0 1px 0 #fff;
	border-top: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	border-left: 1px solid #c4c4c4;
}

.complexForm-html{
    width: 400px;	
}

.complexForm-onCondition{
    width: 400px;	
}

.complexForm-onDiff{
    width: 100%;	
}

.complexWrap .layout-2{	width:800px;}

.complexForm-row-hide{
	display:none;
}
.complexForm-input-fullrow{
	position:relative;
    width: 100%;
    float: left;
    padding: 5px 0px;
    box-sizing: border-box;
}

.complexForm-in-textarea{
    width: 100%;
    box-sizing: border-box;
    resize: none;
	height:90px;
    padding: 5px;
}



/*.complexForm input[type="text"],*/
.complexForm-in-text
{
    padding: 4px 6px;
    border: none;
    border-top: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;

    border-radius: 3px;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: inherit;
    color: #444;
    text-indent: 3px;
    width: 100%;
    height: 34px;
    box-sizing: border-box;
}

.required:before{
	position: absolute;
	content: '*';
	color: #ff0000;
	font-size: 30px;
	top: 16px;
	left: -16px;
}


.edata a{
	
	color:#4790c6;
}

.form__colum-button{
    float: left;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
}

.form__colum-input{
    width: 100%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;	
}

.form__kuzov-type{
	width: 100%;
	display: inline-block;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;

    background-color: #4790c6;
    padding: 12px 20px;
    cursor: pointer;
    border: 0;
    margin-bottom: 1px;

}
.form__kuzov-type:focus{
	
	border:0;
	outline:0;
}
.form__kuzov-type:hover{
	
	background-color:#ff0000;
}
.check__kuzov{
    float: left;
    width: 25%;
    padding: 8px 0;
    box-sizing: border-box;
}
.form__kuzov-type.active{
	
	background-color:#ccc;
}

.form__colum-descr{
    display: inline-block;
    padding: 10px 5px;
    font-weight: bold;
}

.check__kuzov-label{
    overflow: hidden;
    display: block;
    padding-left: 10px;	
}
.check__kuzov-input{
    width: 16px;
    height: 16px;
    float: left;
}

.btn-submit{

    width: 100%;
    -webkit-appearance: none;
    margin: 0;
    overflow: visible;
    font: inherit;
    color: #444;
    text-transform: none;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 12px;
    background: #f7f7f7;
    vertical-align: middle;
    line-height: 32px;
    min-height: 34px;
    font-size: inherit;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .3);
    background-origin: border-box;
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(to bottom, #fff, #eee);
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;	
}
.btn-submit.disabled{
	
	background-color:#ccc;
	cursor:default;
}


.winCallback{
    display:none;
    position:fixed;
    width:430px;
    margin:auto;
    background-color: #fff!important;
    z-index:25;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
}


.youtube__mobile{
    display: none;
    width: 100%;
    padding: 20px 0 15px 0;
    box-sizing: border-box;
}

.youtube__mobile-link{
    display: inline-block;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
    background-color: #dd483b;
    color: #fff;
    padding: 14px 0;
    text-align: center;
    border-radius: 6px;
}

/* ~~~ Different style ~~~ */

.complex__header{
    position: relative;
    display: inline-block;
    width: 100%;
	padding: 0px 0 20px 0;
    text-align: center;
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
}

.complex__headerLogo{
    max-width: 220px;
    box-sizing: border-box;
    vertical-align: top;
}

.diffe__header{
    display: inline-block;
    width: 100%;
	background-color:#e4e4e4;
    padding: 10px;
    box-sizing: border-box;	
}
	.diffe__title{
		font: 20px/24px 'RobotoRegular', Helvetica, Arial, sans-serif;
		font-weight: normal;
		text-align: center;	
	}
	.diffe__bigtitle{
    font: 26px/44px 'RobotoRegular', Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-align: center;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;	
	}
	
	.diffe__head-name{
    float: left;
    width: 55%;
    min-height: 30px;
	}
	.diffe__head-rdm,
	.diffe__head-broker,
	.diffe__head-bank
	{
		float: left;
		width: 15%;
		min-height: 60px;
		text-align: center;
		padding: 10px 0;
		box-sizing: border-box;	
	}



.diffe__body{
    display: inline-block;
    width: 100%;
}

	.diffe__row{
		display: inline-block;
		width: 100%;
		padding: 10px;
		box-sizing:border-box;
	}
	.diffe__row:nth-child(even) {
		background-color: #e4e4e4;
	}
		.diffe__body-name{
			float: left;
			width: 55%;
			min-height: 30px;	
		}
		
		.diffe__body-name strong{
			display:inline-block;
			width:100%;
			padding-bottom:5px;
			color: #2c2c2c;
		} 
		
		.diffe__body-name span{
			display: inline-block;
			font: 14px/16px 'RobotoLight', Helvetica, Arial, sans-serif;
   
		}    
		
		
		
		.diffe__body-col

		{	position:relative;
			float: left;
			width: 15%;
			min-height: 50px;		
		}
		.diffe__col-name{
			display:none;
			
		}
		
		.diffe__icon-good:after,
		.diffe__icon-bad:after,
		.diffe__icon-quest:after
		{
			position:absolute;
			width:50px;
			height:50px;
			top:0;
			right:0;
			bottom:0;
			left:0;
			margin:auto;
			background-repeat: no-repeat;
			background-position: center;
			content:'';			
		}


			
		.diffe__icon-good:after{
			background-image:url('/local/assets/img/icon-good.jpg');

		}

		.diffe__icon-bad:after{
			
			background-image:url('/local/assets/img/icon-bad.jpg');
		}

		.diffe__icon-quest:after{
			
			background-image:url('/local/assets/img/icon-quest.jpg');
		}
		
	.diffe__nav{
		display: block;
		width: 230px;
		padding: 10px 0;
		margin: auto;
	}

	.credit__autos{
		display: inline-block;
		width: 100%;
		font: 16px/24px 'RobotoRegular', Helvetica, Arial, sans-serif;
		color: #2c2c2c;
		font-weight: bold;

	}

	.credit__price{
		display: inline-block;
		width: 100%;	
		font: 16px/34px 'RobotoRegular', Helvetica, Arial, sans-serif;
		color: #2c2c2c;	

	}
	
	.credit__name{
		display: inline-block;
		width: 100%;
		margin-top:15px;
		font: 16px/24px 'RobotoRegular', Helvetica, Arial, sans-serif;
		color: #2c2c2c;
		font-weight: bold;

	}
	.credit__desc{
		display: inline-block;
		width: 100%;
		padding: 10px 0;		
		font: 16px/24px 'RobotoRegular', Helvetica, Arial, sans-serif;
		color: #2c2c2c;
	}
	
	.credit__desc-msg{
		
	}
	.credit__desc-min{
		display:none;
		float: left;
		width: 50%;
		height:30px;
	}
	.credit__desc-max{
		display:none;
		float: left;
		width: 50%;
		height:30px;
	}	
/* ~~~ media query ~~~ */
@media only screen and (max-width:880px) {
	.complexWrap .layout-2{	width:95%;}
	.diffe__bigtitle {font: 21px/28px 'RobotoRegular', Helvetica, Arial, sans-serif;}
	.diffe__body-name strong{font: 16px/24px 'RobotoRegular', Helvetica, Arial, sans-serif;font-weight: bold;}	
}

@media only screen and (max-width:660px) {

	.youtube__mobile{display: inline-block;}
	
	.diffe__header{display:none;}
	.diffe__body-name{		
		width: 100%;
		padding-bottom: 25px;
	}
	.diffe__body-col{width: 33.33%;padding-top: 20px;}
	.diffe__col-name{
		display: block;
		position: absolute;
		top: 0;
		text-align: center;
		height: 35px;
		width: 100%;
	}
	.diffe__icon-good:after, .diffe__icon-bad:after, .diffe__icon-quest:after{
		top:unset;
		
	}	
}

@media only screen and (max-width:550px) {

	.diffe__body-col{padding-top: 40px;}	
    .winCallback{width:90%;}
    #block1{max-width: 85vw;}
    #block1 .check__kuzov{width: 50%;}	
	.complexForm-form {overflow: auto;}
}

@media only screen and (max-width:480px) {
	.complexForm-html{width:100%;}
	.complexForm-onCondition{width:100%;}
	.complexForm-onDiff{width:100%;}
	.complexForm {width: 90%;}
	
	.complexForm__title2 {font: 16px/24px 'RobotoRegular', Helvetica, Arial, sans-serif;}
	.complexForm__wrp {padding: 0 0;}

	.credit__calc-row{font-size:14px;}
	.credit__calc-label1 {width: 70%;}	
	.credit__calc-label2 {width: 75%;line-height: 21px;}
	.credit__calc-input1 {width: 30%;}
	.credit__calc-input2 {width: 20%;}
	.credit__price { font: 14px/21px 'RobotoRegular', Helvetica, Arial, sans-serif;padding: 10px 0;}
	.credit__desc-msg{font-size:14px;}
	.credit__body li {font: 14px/20px 'RobotoLight', Helvetica, Arial, sans-serif;padding-bottom: 5px;}	
}