.sell__banner{
	position:relative; 
	margin-top: -40px;
	background-size:cover; 
	background-repeat:no-repeat; 
	color:white; 
 
	overflow:hidden;
	
}

.sell__height{
	min-height:700px;	
}

.sell__wrap {
    position: relative;
    max-width: 940px;
    margin: 30px auto;
    font-size: 15px;
    box-sizing: border-box;
	overflow:hidden;
}

.sell__half{
    float: left;
    display: inline-block;
    width: 55%;
    padding: 20px 20px;
    vertical-align: top;
    box-sizing: border-box;
    font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
    border-radius: 4px;
}
/*
.sell__h1{
	
	margin-top:20px;
}
*/
.sell__h1{
	margin-top: 5px;
	font: 34px/36px 'RobotoLight', Helvetica, Arial, sans-serif;
	/*text-shadow: 1px 1px 1px #555;*/
}
/*
.sell-list__item-info:nth-child(2n+1) {
    padding-left: 30px;
}
*/

.sell-list__item-info {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 25px;	
}

.sell-list__item-info:last-child{
	
	margin-bottom:0;
}

.sell-list__item-text {
    font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
    
}

.bground-white{
	
	background: rgba(255,255,255,0.85);	
}

.bground-black{
	background: rgba(0,0,0,0.70);
	
}



@media screen and (max-width: 1200px){

	.sell__wrap {
		max-width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	.sell__half {
		float: none;
		display: block; 
		width:90%;
		margin: 50px auto;
	}
	
	.sell__banner{
		background-position: center;
	}
	
	.sell__h1{
		
		padding-top:0px!important;
	}
}

@media screen and (max-width: 920px){

	.sell__half {
		width:90%;
		float: none;
		display: block; 
		margin: 50px auto;
	}
	

}

@media screen and (max-width: 640px){
	.sell__wrap {
		max-width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.sell__half {
		width:100%;
		margin: 50px auto;
	}
	.sell__pos{
		background-position: center;
	}
	.avtocredit__pos{
		background-position: center;
	}
	.credit__pos{
		background-position: -1190px 55px;
	}	
}


@media screen and (max-width: 480px){
	.sell__h1{

		font: 28px/36px 'RobotoLight', Helvetica, Arial, sans-serif;
		
	}
	.sell__wrap {
		max-width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.sell__half {
		width:100%;
		margin: 50px auto;
	}
	.avtocredit__pos{
		background-position: -1122px 0;
	}		
	.credit__pos{
		background-position: -1085px 0px;
	}
}