/* 
-----------------------------------------------------
template = s1_inner
-----------------------------------------------------
*/
.offers-list__item {
	position: relative;    
	max-width: 940px;
	margin: 0 auto;
	padding-bottom:40px;
	font-size: 15px;
	box-sizing: border-box;
}
.crd {
    font-size: 15px;
    margin-top: 10px;
    float: left;
}

.crd-2 {
    float: left;
    width: 152px;
    font-size: 15px;
    line-height: 25px;
    margin-left: 15px;
}

.crd-2 a {
    color: #fff;
    text-decoration:none;
}


.crd-line{
    width: 100%;
    clear: both;  
}

.pdlft{
    padding-left: 25px !important;
}
.crd a{
    color: #8c8c8c;
    text-decoration: none;
}

.rdm-flamp{
	
	width:100%;
	box-sizing: border-box;
}
._read-mores{text-align:right}
.text-justify{text-align:justify;}

.in-text-data{margin-right:10px;}
/*----- TRADE IN ------*/
.offers-list__item h2{padding:15px 0 0;}

.form-trade-zayavka{
    padding: 20px;
    background-color: #f2f2f2;
    word-break: break-word;
}
.input-trade-form{
    width: 200px;
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 17px;
}
.input-trade-form.require{
    
    margin-bottom: 0;
}

/*.input-trade-form:nth-child(odd){margin-right: 0;}*/
.title-form {
    font-size: 22px;
    font-weight: bold;
    color: #656565;
    margin-bottom: 19px;
    margin-top: 7px;
}
.in-text-trade{
    padding: 5px 2%;
    border: none;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    -webkit-appearance: none;
    font: 13px/18px 'RobotoLight', Helvetica, Arial, sans-serif;
    color: #414446;
    text-indent: 3px;
    cursor: default;
    width:96%;
}
.desc-tarea{
    width: 96% !important;
    height: 74px;
}

/*
.video_item {
    position:relative;
    width: 30%;
    min-width:200px;
    display: inline-block;
    margin-right: 3.0%;
    margin-bottom: 20px;
    vertical-align: top;
}
*/

.list_video {
    margin-left: -15px;
    margin-right: -15px;
	font-size:0;
}

.video_item {
    position:relative;
	display: inline-block;
    width: 33.33%;
    min-width:200px;
	line-height:normal;
	padding:15px;
    vertical-align: top;
    box-sizing: border-box;	
	margin-bottom:20px;
}

.video_item-play{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
}

/*.offers-list__item-action-link {
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    border-radius: 5px;
    background: #4790c6;
    padding: 3px 20px 5px 54px;
    margin-top:20px;
    border:0;
}*/
.offers-list__item-action-link.message:before {
    content: '';
    width: 31px;
    height: 27px;
    background: url(/local/assets/img/offers-btns.png);
    position: absolute;
    left: 16px;
    top: 10px;
    background-position: 0 -39px;
}
.fancybox-next span {
    background: url(/local/assets/img/fancybox.png);
    background-position: -41px -60px;
    width: 33px !important;
    height: 33px !important;
}
.fancybox-prev span {
    background: url(/local/assets/img/fancybox.png);
    background-position: -41px -30px;
    width: 33px !important;
    height: 33px !important;
}

.rekv__list{
    display:none;
    background: #fff;
    z-index: 8000;

}
/*
.black_list{
    display:none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 8000;
    cursor:pointer;
}*/
.form_back {
    position: relative;
    width: 240px;
    margin: 3% auto;
    background: #fff;
    padding: 30px 18px;
    cursor:default;
}
.form_back .fancybox-close {
    top: -15px;
    right: -15px;
}
/*---------End trade IN----------*/
ul.timeline{
    position: relative;
    height: auto;
    border-bottom: 2px solid red;
    margin-bottom: 291px;
    padding-left: 0;
    margin-top: 216px;
}
.diagn{
    display: block;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    border-radius: 5px;
    background: #4790c6 !important;
    padding: 6px 8px 6px 8px;
    margin-top: 5px;
}
ul.timeline>li{
    display: inline-block;
    max-width: 272px;
    /* border: 1px dashed #ccc; */
    padding-bottom: 25px;
    position: relative;
    width: 233px;
    height: 109px;
    margin-bottom: -9px;
    margin-right: -82px;
    background: url(/local/assets/img/circle_marker.png);
    background-repeat: no-repeat;
    background-position: 90px 121px;
    text-align: center;
}
ul.timeline>li:before{
    display: none;
    content: attr(data-num);
    position: absolute;
    left: 0px;
    top: 10px;
    z-index: 2;
    width: 25px;
    line-height: 25px;
    color: #fff;
    background-color: #db1c26;
    border-radius: 20px;
}

ul.timeline>li .ps-abs{
    position: absolute;
    /* padding-bottom: 30px; */
    bottom: -2px;
    border: 1px solid #ececec;
    margin-bottom: 30px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    min-height: 180px;
}
.ps-abs:before {
    content: ' ';
    position: absolute;
    bottom: -9px;
    display: block;
    background: url(/local/assets/img/treug.png);
    height: 9px;
    width: 13px;
    left: 91px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
ul.timeline>li .ps-abs-btm{
        position: absolute;
    bottom: -196%;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: -17px;
    min-height: 250px;
}
.ps-abs-btm:before {
    content: ' ';
    position: absolute;
    top: -9px;
    display: block;
    background: url(/local/assets/img/treug.png);
    height: 9px;
    width: 13px;
    left: 91px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
/* --- Edit vegas begin ---*/
    .ps-abs__media-wrap{
            display: inline;
            width:100%;       
            height:150px;
            overflow: hidden;
    }
        .ps-abs__media{
            position:relative;
            display: inline-block;
            width:100%; 
            overflow: hidden;
            background-color: #000;
        }
            .ps-abs__thumbnail{
                
                width: 100%;
            }
            
        .ps-abs__overlay-play{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url(/local/assets/img/play-button-white.svg);
            background-color: rgba(0,0,0,.2);
            background-repeat:no-repeat;
            background-size: 20%;
            background-position: center;
            cursor:pointer;
            transition: all .3s;
        }
        
        .ps-abs__overlay-play:hover{
            
            background-image: url(/local/assets/img/play-button-red.svg);
        }
        
        .media-content   {
            position: relative;  
            display: inline-block;
            width: 77%;
            margin-top:0;
            overflow: hidden;

        }     
        
        .media-content__media{
            position:relative;
            display: inline-block;
            width:100%; 
            overflow: hidden;

        }
        
        .media-content__play{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url(/local/assets/img/play-button-white.svg);
            background-color: rgba(0,0,0,.2);
            background-repeat:no-repeat;
            background-size: 20%;
            background-position: center;
            cursor:pointer;
            transition: all .3s;    
        }
        
        .media-content__play:hover{
            
            background-image: url(/local/assets/img/play-button-red.svg);
        }  
        
        .media-content__button{
			position:relative;
            font-size: 25px;
            font-family:'RobotoLight', Helvetica, Arial;
            color: #ce0000;
            line-height: 32px;
            background: none;
            border: 0;     
			padding: 0 40px 0 0;
            margin-top: 35px;
        }
        
        .media-content__button:after {
			/*content: "→";*/
			content: '';
			display: inline-block;
			vertical-align: top;
			width: 30px;
			height: 20px;
			position: absolute;
			top: 8px;
			right: 0;
			background-image: url(/local/assets/img/svg-sprite/right-arrow.svg);
			background-size: 76%;
			background-repeat: no-repeat;	
        } 
        .media-content__button:hover{
            
            /*border-bottom: solid 1px #ce0000;*/
            
            text-decoration:underline;
        }     
/* --- Edit vegas end ---*/


li.num1:after {
    content: "1";
    position: absolute;
    background: #d20101;
    line-height: 22px;
    padding: 0 7px;
    color: white;
    border-radius: 15px;
    border: 3px solid white;
    bottom: -9px;
    text-align: center;
    left: 85px;
}
li.num2:after {
    content: "2";
    position: absolute;
    background: #d20101;
    line-height: 22px;
    padding: 0 7px;
    color: white;
    border-radius: 15px;
    border: 3px solid white;
    bottom: -9px;
    text-align: center;
    left: 85px;
}
li.num3:after {
    content: "3";
    position: absolute;
    background: #d20101;
    line-height: 22px;
    padding: 0 7px;
    color: white;
    border-radius: 15px;
    border: 3px solid white;
    bottom: -9px;
    text-align: center;
    left: 85px;
}
li.num4:after {
    content: "4";
    position: absolute;
    background: #d20101;
    line-height: 22px;
    padding: 0 7px;
    color: white;
    border-radius: 15px;
    border: 3px solid white;
    bottom: -9px;
    text-align: center;
    left: 85px;
}
li.num5:after {
    content: "5";
    position: absolute;
    background: #d20101;
    line-height: 22px;
    padding: 0 7px;
    color: white;
    border-radius: 15px;
    border: 3px solid white;
    bottom: -9px;
    text-align: center;
    left: 85px;
}
.worktime {
    padding: 5px 0px 5px 10px;
    background: url(/local/assets/img/worktime.png);
    background-repeat: no-repeat;
    background-position: 0px -3px;
    margin: 11px 0;
}
.free {
    padding: 13px 0px 10px 0px;
    background: url(/local/assets/img/free.png);
    background-repeat: no-repeat;
    background-position: 1px 3px;
    margin: 11px 0;
}
.top-banner__info-title {
    font: 36px/39px 'RobotoLight', Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
	padding: 0 10px 0 0;
}

.bx-wrapper {
    max-width: 100% !important;
    margin: 0;
}
.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
}


.manager_list div, .helper_list {
    padding-left: 40px;
}

.class_manager {
    text-transform: uppercase;
    font-size: 12px;
}
.helper_class {
    margin-top: 15px;
    font-weight: bold;
}
.manager_name {
    background: url(/local/assets/img/u206.png);
    background-repeat: no-repeat;
    font-weight: bold;
}
.offers-list__item-action {
        display: block;
    }
    
    .offers-posRight{float:right!important;}
    .offers-posLeft{float:left!important;}

	
/*  Company style begin ed: kokorin */
	.wrap-full{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;		
	}
	.banner__img{width: 100%;}
.banner__nav{

    font-size: 0;
    position: relative;
    max-width: 940px;
    margin: 0 auto;
    overflow: hidden;	
}
.banner__nav .comand{
	position:relative;
	float: right;
	padding: 30px 42px 30px 0;
	font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
	font-weight:bold;
	color: #ff0000;
	text-decoration: none;
	font-size: 25px;
	cursor:pointer;
}
.banner__nav .comand:after {
    position: absolute;
    width: 26px;
    height: 16px;
    right: 0px;
    top: 0px;
    bottom: 0;
    margin: auto;
    background-image: url(/local/assets/img/svg-sprite/right-arrow.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    content: "";
}


.banner__nav .comand:hover {
    transition: 1s;
    text-decoration: underline;
}	 
	 
/*  Company style end */	
	
	
	



/* 
-----------------------------------------------------
template = creditovanie
-----------------------------------------------------
*/

.page__middle{width:100%;}
.creditovanie .offers-list__item-action-link:before {
    content: '';
    width: 31px;
    height: 27px;
    position: absolute;
    left: 16px;
    top: 10px;
    background-position: 0 -39px;
    cursor:pointer;
}
.black_list{
    display:none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 8000;
    cursor:pointer;
    overflow-y: scroll;
}
.form_back {
    width: 100%; 
    max-width: 400px;
    margin: 1% auto;
    background: #fff;
    padding: 30px 18px;
    font-size: 15px;
	box-sizing:border-box;
}
.form_back textarea{
    height: 90px !important;
}
.form_back .uk-form-controls.checkbox label{
    font-size: 14px;
}
.creditovanie .kompany{
    font-size: 15px;
    background: url(/local/assets/img/banner_company.png);
    background-size: cover;
    height: 189px;
    background-position: 0px -121px;
    border:none !important;
}
.garant_block {
    font-size: 21px;
    display: inline-block;
    padding: 25px;
}
.author_video {
    
    margin-top: 15px;
    text-decoration: underline;
	font-size: 16px;
    font-family: 'RobotoLight', Helvetica, Arial, sans-serif;	
}
/*
.creditovanie .video_item {
    width: 30%;
    display: inline-block;
    margin-right: 3.333%;
    margin-bottom:20px;
}
.creditovanie .video_item:last-child{
   margin-right: 0%;
}
*/
/*
a.all_cars {
    display: block;
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
}*/
.helper_class {
    margin-top: 15px;
    font-weight: bold;
}
.manager_list div, .helper_list{
    padding-left:40px;
}
.manager_name{
    background: url(/local/assets/img/u206.png);
    background-repeat:no-repeat;
    font-weight: bold;
}
.class_manager {
    text-transform: uppercase;
    font-size: 12px;
}
@-moz-document url-prefix()
{
	.bg_moz{ margin-top:-134px !important; color: white }
}

.page__main-wrapper.page__wrapper-full {
    /*margin: 40px auto 110px;*/
    margin: 40px auto 0;
    width: 100% !important; 
}

.offers-list__item-info {    position: relative;}
/*.offers-list__item-info:nth-child(2n+1) {    padding-left: 88px;}*/
.offers-list__item-info:nth-child(2n+1){     padding-left:30px;}

.offers-list__item-info, .offers-list__item-image {
    width: 50%;
    box-sizing: border-box;
}
.offers-list__item-info:th-child{padding-left:40px;}

.offers-list__item:nth-child(even) .offers-list__item-image,
.offers-list__item:nth-child(even) .offers-list__item-info{
    float: left;
}
.offers-list__item:nth-child(odd) .offers-list__item-info, 
.offers-list__item:nth-child(odd) .offers-list__item-image {
    float: left;
    display: inline-block;
    vertical-align: top;
}

.offers-list__item:after {
    content: "";
    display: table;
    clear: both;
}


.top-banner__info-text{
    font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
}

.offers-list__item  + .offers-list__item{
    border-top: 1px solid #eeeeee;
}

.offers-list__item-image{
    box-sizing: border-box;
    padding: 0 15px;
}
.offers-list__item-image img{
    max-width: 100%;
    max-height: 100%;
}
.offers-list__item-title{
    font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    margin-bottom: 35px;
}

.offers-list__item-text{
    font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
    margin-bottom: 25px;
}
.offers-list-links__item-link{
	position:relative;
	padding-right:40px;	
    font: 14px/16px 'RobotoLight', Helvetica, Arial, sans-serif;
    color: #ff0000;
    text-decoration: none;

}


.potreb{padding-bottom:40px !important;}

.creditovanie .offers-list__item {
    padding: 0px 0 0px;
    font-size: 0;
    position: relative;
    max-width: 940px;
    margin: 0 auto;
}


/*
.creditovanie h1{
    font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    
    padding-top: 130px;
    text-shadow: 1px 1px 1px #555;
}
*/
.creditovanie h2{
    font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    margin-bottom: 35px;
    margin-top: 35px;
}
.car_lg{
    background-image: url(/local/assets/img/svg-sprite/spritef1rvxdvaemi.svg);
    background-position: -4px -603px;
    height: 28px;
    padding-left: 53px;
    background-repeat: no-repeat;
}
/*
.bx-wrapper{
    max-width:95% !important;
    margin: 0;
}*/
.bx-wrapper .bx-viewport {
    box-shadow: none;
}

.showPhoto{
	display:inline-block;
	width: 100%;
}

.showPhoto-img{
	width: 100%;
}


a.nagrada {
    display: inline-block;
    width: 130px;
    margin-right: 3%;
    margin-bottom: 20px;
}

a.nagrada img {
    width: 100%;
}
/*
.about .car_mark{
    margin: 0 auto;
	vertical-align: top;
}*/
.car_mark {
    width: 153px;
    display: inline-block;
    vertical-align: middle;
	margin-left:auto;
	margin-right:auto;
    margin-bottom:0px;
    font-size: 25px;
	background: url(/local/assets/img/u198.png);
    background-repeat: no-repeat;
    padding-left: 37px;
}

p.date_auto {
    padding-left: 40px;
    margin-top: 6px;
}
a.analog-auto {
	box-sizing: border-box;
    padding: 5px;
	padding-top: 0;
    margin-top: 7px;
    text-decoration: none;
    color: #444;
    font-size: 16px;
    font-weight: bold;
    background-image: url(/local/assets/img/lupa.png);
    background-position: 2px 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
    max-width: 240px;
    background-size: 20px;
    display: inline-block;
    margin: 0;
}
/*
.about .video_item {
    width: 30%;
    display: inline-block;
    margin-right: 2.1%;
    margin-bottom: 20px;
    text-align: center;
}
*/




.about h1 {
    font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    /* margin-bottom: 35px; */
    padding-top: 130px;
}
.about h2 {
    font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    margin-bottom: 35px;
    margin-top: 35px;
}
.about .top-banner__info-title h2 {
    font-size: 25px;
    padding-top: 25px;
}
.about .car_lg {
    font-size: 20px;
    margin: 0 0 20px;
}
/*
._read-more{
	text-align:right;
}
*/
.about div#video_smotr {
	display:inline-block;
    font-size: 25px;
    color: #ff2c17;
    text-align: center;
    margin-top: 46px;
    border: none;
    border-bottom: none !important;
    transition: 1s;
    cursor: pointer;
    font-weight: bold;
}
.doc {
    background-image: url(/local/assets/img/car_icon2.png);
    /* width: 35px; */
    padding-left: 53px!important;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 0 0 40px;
    background-position: 0px 8px;
    min-height: 40px;
}
.doc a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed white;
}
.offers-list__item.kompany {
    font-size: 15px;
    /*border: none !important;*/
    max-width: 2200px !important;
    margin: 0 auto;
}
.offers-list__item.kompany img{
    width: 100%;
}
.offers-list__item.kompany {
    font-size: 15px;
    /*border: none !important;*/
    max-width: 2200px !important;
    margin: 0 auto;
}
.offers-list__item .comand {
	float: right;
    font: 14px/16px 'RobotoLight', Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: #ff2c17;
    text-align: center;
    padding-top: 39px;
    border: none;
    border-bottom: none !important;
    transition: 1s;
    cursor: pointer;

}

.about p.date_auto {
    padding-left: 39px!important;
    margin-top: 0px!important;
}
.about .class_manager a {
    color: #000;
}

.all_cars-wrap{
    position: relative;
	float:left;
	width:100%;
    text-align: right;	
}

.about a.all_cars {
	position: relative;
	display: inline-block;
	top: -24px;
	padding-right: 9px;
    color: #000;
	font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}
a.all_cars:after {

    content: "→";
    width: 10px;
    height: 10px;
    position: relative;
    top: -1px;
    left: 9px;
    text-decoration: none;
}

.about a.all_cars:hover {
	
	color:#ff0000;
}


.about .medialibslider > ul {
    width: 32500px;
}
.garant__block {
    font-size: 18px;
    display: inline-block;
    padding: 16px;
    /*padding-left: 45px;*/
	box-sizing: border-box;
	text-decoration:none;
	text-align:center;
	color:#000;
}

.garant__link{
    font-size: 18px;
    display: inline-block;
    padding: 16px;
	box-sizing: border-box;
	text-decoration:none;
	text-align:center;
	color:#000;
	background-repeat:no-repeat;
}

.garant__icon-1{
	
	width: 33%;
}

.garant__icon-2{
	
	width: 33%;
}

.garant__icon-3{
	
	width: 33%;
}

.garant__icon-4{
	
	width: 50%;
}

.garant__icon-5{
	
	width: 50%;
}
.garant__icon-1 .garant__link{
    display: inline-block;
    padding-left: 45px;
    background-image: url(/local/assets/img/yess.png);
    background-position: left;
    -webkit-background-size: 40px;
    background-size: 40px;

}
.garant__icon-2 .garant__link{
	display: inline-block;
	padding-left: 45px;
    background-image: url(/local/assets/img/bez.png);
    background-position: left;
    -webkit-background-size: 40px;
    background-size: 38px;

    background-position-x: 0;
}
.garant__icon-3 .garant__link{
	padding-left: 45px;
    display: inline-block;
    background-image: url(/local/assets/img/zaschitas.png);
    background-position: left;
    -webkit-background-size: 50px;
    background-size: 50px;
    background-position-x: 0;
}
.garant__icon-4 .garant__link{
	padding-left: 60px;
    display: inline-block;
    background-image: url(/local/assets/img/svg-sprite/tachometer.svg);
    background-position: left;
    -webkit-background-size: 40px;
    background-size: 40px;


    background-position-x: 0;
}

.garant__icon-5 .garant__link{
	padding-left: 60px;
    display: inline-block;
    background-image: url(/local/assets/img/money-icon.png);
    background-position: left;
    -webkit-background-size: 40px;
    background-size: 40px;


    background-position-x: 0;
}

.about .offers-list__item{

    font-size: 0;
	overflow: hidden;
}

.contacts h1 {
    font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    margin-bottom: 35px;
}


.pagination h2{
	    font: 29px/29px 'RobotoLight', Helvetica, Arial, sans-serif;
}
 /* end edit*/

.auto-block{
	float: left;
	width: 50%;
	box-sizing: border-box;

}
 /*
.autocreditovanie h1 {
    font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    padding-top: 50px;
    text-shadow: 1px 1px 1px #555;
}*/
.autocreditovanie h2 {
    font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    margin-bottom: 35px;
    margin-top: 35px;
}
.autocreditovanie h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.autocreditovanie .offers-list__item-action-link {
    width: 100%;
    margin: 0 auto;
	padding: 12px 20px 12px 54px;
}
.autocreditovanie .offers-list__item-action-link:before{
	content: '';
    width: 31px;
    height: 27px;
    position: absolute;
    left: 16px;
    top: 10px;
    background-position: 0 -39px;
    cursor: pointer;
}
.autocreditovanie .offers-list__item-actions {
    max-width: 240px;
    margin: 0 auto;
}
.autocreditovanie .offers-list__item + .offers-list__item {
    border-top: 1px solid #eeeeee;
}
.autocreditovanie .offers-list__item {
   font-size: 0;
}
.offers-list__item-text.block-ccc {
    background: rgba(0,0,0,0.70);
    padding: 5px 15px 0;
    border-radius: 4px;
}
.rassmotr-zayav {
    background-image: url(/local/assets/img/timeclock.png);
    padding-left: 53px;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 0 0 40px;
    background-position: 0px 2px;
    min-height: 40px;
}
.poluchenie {
    background-image: url(/local/assets/img/yes.png);
    padding-left: 53px;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 0 0 40px;
    background-position: 0px 2px;
    min-height: 40px;
}
.zaschita {
    background-image: url(/local/assets/img/zaschita.png);
    padding-left: 53px;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 0 0 40px;
    background-position: 0px 2px;
    min-height: 40px;
}
.result-oplata {
    background-image: url(/local/assets/img/result.png);
    padding-left: 53px;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 0 0 40px;
    background-position: 0px 2px;
    min-height: 40px;
}
.procent {
    background-image: url(/local/assets/img/procent.png);
    padding-left: 53px;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 0 0 40px;
    background-position: 0px 6px;
    min-height: 40px;
    background-size: 29px;
}

.doci {
    background-image: url(/local/assets/img/doci.png);
    padding-left: 53px;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 0 0 40px;
    background-position: 0px 2px;
    min-height: 40px;
}
.rinok {
    background-image: url(/local/assets/img/rinok.png);
    padding-left: 53px;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 0 0 40px;
    background-position: 0px 2px;
    min-height: 40px;
	background-size: 34px;
}
.calculator{
    background: url(/local/assets/img/offers-btns_calc.png);
    background-repeat: no-repeat;
    padding-left: 40px;
    min-height: 40px;
    cursor: pointer;
}
.title-vopros{
    color: black;
    font-size: 18px;
    text-decoration: underline;
    cursor:pointer;
    margin: 5px 0 22px;
	position:relative;
}
.title-vopros:hover {
    color: #c60000;
}
.title-vopros:before{
	content:"\2193";
	position:absolute;
	left:-20px;
}
.btn-lft {
    margin: 0 !important;
}

.list_bank {
    padding-bottom: 50px;
    margin-left: -30px;
    margin-right: -30px;
    /* width: 100%; */
    box-sizing: border-box;
}

.bank_item {	
    display: inline-block;
    width: 20%;
    padding: 30px;
    box-sizing: border-box;
}

.bank_item img{
    width:100%;
    vertical-align:middle;
}



#map {
    height: 340px;
    max-width: 100%;
}


.page__footer._js-footer{
	position:static !important;
}


form input:not([type]):focus,
form input[type="text"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus{
	background:#f8fbff;
	border:1px solid #4d98de;
	outline:#4d98de solid 1px;
	outline-offset:0;
	outline-color:rgba(0, 0, 0, 0);
	box-shadow:0 1px 3px 0 transparent inset, 0 0 0 1px #4d98de;
}
/* ################################################################################# */

@media screen and (max-width: 1160px){
	/*.potreb .offers-list__item-desc{text-align:center;}*/
	
	
	.g-show-mobile{display:block;}
	.g-show-desctop{display:none!important;}

.offers-list__item-action {
    text-align:center;
    display: block;
    margin-bottom: 15px;
    width: 100%;
}
.offers-list__item-info:th-child{ padding-left:0px; }
.page__main-wrapper.creditovanie {
    margin: 40px auto 55px;
    width: 100% !important;
}
.creditovanie .offers-list__item{width:80%;}
.top-banner-info-wrapper, .offers-list-wrapper {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}

.autocreditovanie .offers-list__item-info,
.autocreditovanie .offers-list__item-image {
    float: none;
    width: 100%;
}

}

@media screen and (min-width: 1025px){
    

	
	.offers-list__item-action-link{margin-top: 20px;padding: 5px 20px 5px 54px;}

	a.nagrada:nth-child(6){margin-right:0px;}
	/*
	.autocreditovanie .offers-list__item {
		width: 510px;
	}*/
	.autocreditovanie .offers-list__item-info:nth-child(2n+1) {		padding-left: 0px;	}
	
/*
	.bank_item {
		display: inline-block;
		max-width: 113px;
		margin-right: 12px;
		margin-bottom: 30px;
	}
*/
	.car_mark {

		vertical-align: text-bottom;
	}
	
	
}

@media screen and (max-width: 1025px){
	
	.offers-list__item-action-link{margin-top: 20px;padding: 3px 20px 5px 54px;}
	
	
	.menu-footer-wrap{
		width:100%;
		padding-left: 20px;
		padding-right: 20px;
		box-sizing: border-box;
	}
	.menu-footer__list {width: 20%;}
	.offers-list__item{
		max-width:100%;
		padding-left:20px;
		padding-right:20px;
	}
	
	.autocreditovanie .offers-list__item {
		width: 768px;
	}
	/*
	.offers-list__item-info, .offers-list__item-image{
		width: 50%;
	}*/	
	
	.offers-list__item-info.adventage{
		
		padding-left: 0;
	}
	
	.video_item{
			width: 50%;
			height: 210px;
			
			margin-bottom: 60px;

			
			}
	.btn-lft {		margin: 0 auto !important;	}
	.car_mark{
		width:100%;
		margin-bottom:10px;
	}
	
	a.analog-auto{max-width:100%;margin-bottom:10px;}
	
	.slider__pager-wrapper{
		
		min-height:240px;
	}
/*
	.crd-2 {
		width:134px;
		
	}	*/
}

@media screen and (max-width: 900px){
	
	.creditovanie .offers-list__item{
		width:100%;
		padding:0 20px;
		box-sizing:border-box;
		}
		

}

@media screen and (max-width: 800px){
	
	.about .garant_block { 
		max-width:50%;
	padding: 16px 45px;
    font-size: 14px;
    padding-top: 52px;
	}
	
}

@media screen and (max-width: 787px){
	
	.menu-footer-wrap{ width:78%; }
	.menu-footer__list {width: 33%;}
	
	.auto-block{
		width:100%;
		padding-left:20px;
		padding-right:20px;
		}
	.faq-vopros-img{
		display:none;
		
	}
	/*------- Trade in --------*/    
	.garant__icon-5 .garant__link {width: 90%;}
	
    /*.offers-list__item-action-link.eventCalc{width:100%;}*/
    
    
    /*.offers-list__item-action-link.eventCalc:before{display:none;}*/
    .offers-list__item-action-link.message:before{display:none;}
    ul.timeline{
		position: relative;
		height: auto;
		border-bottom: none;
		margin-bottom: 30px;
		padding-left: 0;
		margin-top: 30px;
	}

ul.timeline>li{
    display: block;
    width:100%;
  
    padding-bottom: 25px;
    position: relative;
    height: auto;
    margin-bottom: 50px;
    margin-right: 0px;
    background: none;
    text-align: center;
    max-width:100%;
}
ul.timeline>li:before{
    display: block;
}
li.num1:after, li.num2:after, li.num3:after, li.num4:after, li.num5:after{display:none;}
ul.timeline>li .ps-abs{
    position: relative;
   
    border: 1px solid #ececec;
    padding:7px !important;
	margin-bottom: 0;
}
.ps-abs:before {
    content: '';
    position: relative;
    display: block;
    background: none;
}
ul.timeline>li .ps-abs-btm{
    position: relative;

    border: 1px solid #ececec;
    padding:7px !important;
}
.ps-abs-btm:before {
    content: '';
    position: relative;
    display: block;
    background: none;
}
.worktime {
    padding: 5px 0px 5px 10px;
    background-repeat: no-repeat;
    background-position: 0px -3px;
    margin: 13px 0 0px;
    text-decoration:underline;
}
.free {
    padding: 13px 0px 10px 0px;
    background: url(/local/assets/img/free.png) !important;
    background-repeat: no-repeat;
    background-position: 1px 3px;
    margin: 4px 0;
    text-decoration:underline;
}
    /*------- End Trade in --------*/
    ul.video-y li {
        width: 46.85% !important;
    }

    .black_list {
        background: rgba(0,0,0,0.5) !important;
    }
    .pd-rgb {
        background: rgba(255,255,255,0.5) !important;
    }
    .white{text-shadow:1px 1px 1px #000}
    .form-to-sell{
        background:#fff !important;
    }
    .offers-list__item .issued-auto, .offers-list__item .issued-auto *{
        padding: initial!important;
        text-align: left!important;
    }
    .offers-list__item .issued-auto>*{
        padding-left: 37px!important;
    }
    .offers-list__item .issued-auto .manager_name{
        margin-left: -40px;
        padding-left: 40px!important;
    }
	
    .car_mark{
		
		font-size:21px;
	}
	
    .car_mark,
	.analog-auto{
		display:block;
		width:100%;
		text-align: left;
		max-width:768px;
		padding-left: 40px !important;
	}
    .helper_class, .manager_name{
		padding-left: 40px !important;
	}
    .class_manager {
		padding-left: 40px !important;
	}
	.offers-list__item-action._calc{
		padding: 0px;
	}
	.creditovanie .offers-list__item-action._calc{
		padding: 8px 0;
	}

	
/* ~~~~~~~~~~~~ begin ~~~~~~~~~~~~~ */
    .offers-list__item-action-link{background: #4790c6 !important;border: 0;}
    .offers-list__item-info{
	
		/*float: none !important;*/


    }
	
    .offers-list__item-text p,
    .offers-list__item-text ul
    {
		text-align: left;
		padding: 0 0;
    }
	
	.contacts .offers-list__item-text p {
  
    padding:0;
	}
    
	  /* h1 {    padding-top: 60px;}*/
.about h1 {    padding-top: 60px;}
.about h2 {    padding-top: 0;}

.offers-list__item-info:nth-child(2n+1) {    padding-left: 0px;}
.offers-list__item-info:th-child{padding-left:0px;}

.offers-list__item {    padding-bottom: 15px;}


.offers-list__item-action {
    display:block !important;
    margin:0 auto;
    padding:0;
}
.offers-list__item-action {
    padding: 0px 0;
}



.offers-list-wrapper{padding:0}


.bx-wrapper{    margin: 0 auto;}

.about .car_lg {
    padding-left: 57px;
    font-size: 16px;
}
.about p.doc, .about .class_manager, .about .manager_name, .about .helper_class {
    text-align: left !important;

}
.about .helper_list {    padding-left: 0px !important;}
/*
.about .video_item {
    width: 100%;
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 20px;
}	
*/
/* ~~~~~~~~~~~~ end ~~~~~~~~~~~~~ */	

	.offers-list__item {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	
	.autocreditovanie .adventage .offers-list__item-text>p{
		padding-left: 53px;
	}
	.offers-list__item-action-link:before{
		/*background: none;*/
	}
	.autocreditovanie .offers-list__item-action-link{
		padding: 15px 0 15px 48px;
		box-sizing: border-box;
	}
	/*
	.autocreditovanie .author_video {
		display: none;
	}
	*/
	.autocreditovanie .offers-list__item {
		width: 100%;

	}
	
	.autocreditovanie .offers-list__item-desc p {
		padding-left: 5px;
		padding-right: 5px;
	}
	
	a.all_photo_vidacha{    margin-top: 19px;}	
	.about a.all_cars{ text-align: center; top: -26px;	}	
	
	
	ul.timeline>li:before{
    content: "";
    background-image: url(/local/assets/img/svg-sprite/arrow-down.svg);
    background-size: contain;
    height: 25px;
    background-color: transparent;
    bottom: -25px;
    top: auto;
    left: 0;
    right: 0;
    margin: auto;
	}
	
	
	.timeline li:last-child{overflow:hidden;}
	
	.slider__pager-link {
		width: 33.33%;
		height: 90px;
	}
	
	.slider__pager-wrapper{
		
		min-height:360px;
	}
	
.autocreditovanie .offers-list__item-actions{
		max-width: 270px;
		margin-top:40px;
	}	
	
	.offers-posRight .offers-list-links{text-align:right}
	
	.media-content{width:100%;}
	.buy_title_mobile{
		padding-top:0px !important; 
	}
	
	
	.crd-2 {
		width: 106px;
	}
		/*
	.info__price-number {
		font: 12px/28px 'RobotoRegular', Helvetica, Arial, sans-serif;
	}

	.info__credit-number {
		font: 9px 'RobotoRegular', Helvetica, Arial, sans-serif;
	}
*/
}

@media screen and (max-width: 680px) {
	.offers-list__item-action-link {box-sizing:border-box;}
	.top-banner__info-title{text-align:center;}
	.offers-list__item-action-link.eventCalc{margin: auto;}
	.msg-vikup,
	.msg-trade,
	.msg-commis
	{margin: 30px auto 0 auto;}
	
	
	
	.menu-footer-wrap{ width:100%; }
	.menu-footer__list {width: 33%;}

	.about a.all_cars{
		
		top: -12px;
	}
	
	.offers-list__item-info, .offers-list__item-image {
		width: 100%;

	}
	a.all_photo_vidacha{    margin-bottom: 19px;}	
	.pdlft { padding-left:0!important;}
	
	.offers-list__item-text p{ padding: 0 0;}
	.offers-list__item-text ul { padding-left:20px;}
	/*.offers-list__item-desc{text-align:center;}*/
}


@media screen and (max-width: 659px) {

    .crd-2{width: 50%;}
    /*ul.video-y li {width: 100% !important;}*/
    .video_item{
        width: 100%;
        height: 340px;

    }
    .video_item .video_item-play{
        display: none;
    }

	
	.list_bank {
		margin-left: -20px;
		margin-right: -20px;
	}	
	.bank_item {
		width: 33.33%;	
		padding: 20px;
	}
.garant__block{text-align: left;}

.garant__icon-5 .garant__link {width:auto}
.garant__icon-1 {width: 100%;}
.garant__icon-2 {width: 100%;}
.garant__icon-3 {width: 100%;}
.garant__icon-4 {width: 100%;}
.garant__icon-5 {width: 100%;}

.garant__icon-1 .garant__link {padding-left:60px;}
.garant__icon-2 .garant__link {padding-left:60px;}
.garant__icon-3 .garant__link {padding-left:60px;}
.garant__icon-4 .garant__link {padding-left:60px;}
.garant__icon-5 .garant__link {padding-left:60px;}
}

@media screen and (max-width: 540px){
	
	.about .garant_block {   
		padding-top: 5px;
		padding-left:52px;
		padding-bottom: 40px;
		font-size: 14px;	
		max-width:50%;
		text-align: left;
	}
	.about .garant_block:nth-child(1) {

		background-position: 5px 5px;
        width: 50%;

	}
	.about .garant_block:nth-child(2) {

		background-position: 7px 5px;
        width: 50%;

	}
	.about .garant_block:nth-child(3) {

		background-position: 5px 5px;
        width: 50%;

	}
	.about .garant_block:nth-child(4) {

		background-position: 5px 5px;
	}

    .about .garant_block:nth-child(5) {

        background-position: 5px 5px;
    }
}

@media screen and (max-width: 480px) {

	.menu-footer-wrap{ width:100%; }
	.menu-footer__list {width: 50%;}
	
    .crd-2{width: 45%;font-size: 10px;}
    ul.video-y li {width: 100% !important;}
    ul.video-y iframe{border:0;}
    .info__price-wrapper._mobile{    max-width: 100%;}
	
	/* edit AMIR 28 07 */
	.winVideo{
		width: 100% !important;
    	height: 228px !important;
	}

	a.all_photo_vidacha{
		padding-left: 40px;			
	}
	
	.about a.all_cars {
		top:0;
		padding-top: 10px;
	}
	
	.offers-list__item-text p {

		padding:0;
	}
	
	.about div#video_smotr{font-size: 18px;}
	.banner__nav .comand{
			font-size: 18px;
			float: left;
			padding: 0px 36px 0 20px;
	}	
	.about .top-banner__info-title h2{padding-top:0;}
	
	.top-banner__info-title{
		padding:0;
	}
	
	.about .car_lg {    margin: 0 0 40px;}
	
	.list_bank {
		margin-left: -20px;
		margin-right: -20px;
		padding-bottom: 0
	}	
	.bank_item {
		width: 50%;	
		padding: 20px;
	}	
	.video_item {height: 210px;}	
	
	.autocreditovanie .offers-list__item-actions {
		max-width: 100%;
		margin: 0 auto;
		padding: 0 20px;
		margin-top: 30px;
	}
	
	.about .garant_block {   
		padding-top: 5px;
		padding-left:70px;
		padding-bottom: 40px;
		font-size: 18px;	
		max-width:100%;
		width:78%;
		text-align: left;
	}
	.about .garant_block:nth-child(1) {

		background-position: 5px 5px;
		background-size: 30px;
	}
	.about .garant_block:nth-child(2) {

		background-position: 7px 5px;
		background-size: 30px;
	}
	.about .garant_block:nth-child(3) {

		background-position: 5px 5px;
		background-size: 40px;
	}
	.about .garant_block:nth-child(4) {

		background-position: 5px 5px;
		background-size: 30px;
	}
}

@media screen and (max-width: 360px) {
	.offers-list__item-action-link{ width:100%;padding: 5px 5px 5px 54px; font-size:15px;}
	
	/*
	.msg-vikup:before, .msg-trade:before, .msg-commis:before {
		background-position: 0 -39px;
	}
	.offers-list__item-action-link:before {
		content: '';
		width: 31px;
		height: 27px;

		left: 16px;
		top: 10px;
	
	}
	*/
	
}