/* 
-----------------------------------------------------
template = s1_inner
-----------------------------------------------------
*/
.offers-list__item {
    padding: 0px 0 40px;
    font-size: 15px;
    position: relative;
    max-width: 940px;
    margin: 0 auto;
}
.crd {
    font-size: 15px;
    margin-top: 10px;
    float: left;
}
.crd-2 {
    font-size: 15px;
    line-height:25px;
    float: left;
}

.crd-2 a {
    color: #8c8c8c;
    text-decoration:underline;
}


.crd-line{
    width: 100%;
    clear: both;  
}

.pdlft{
    padding-left: 25px !important;
}
.crd a{
    color: #8c8c8c;
    text-decoration: none;
}
/*----- TRADE IN ------*/
.offers-list__item h2{padding:15px 0 0;}
.offers-list__item:nth-child(odd) .offers-list__item-info, .offers-list__item:nth-child(odd) .offers-list__item-image {
    float:left;
}
.form-trade-zayavka{
    padding: 20px;
    background-color: #f2f2f2;
    word-break: break-word;
}
.input-trade-form{
    width: 200px;
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 17px;
}
.input-trade-form.require{
    
    margin-bottom: 0;
}

/*.input-trade-form:nth-child(odd){margin-right: 0;}*/
.title-form {
    font-size: 22px;
    font-weight: bold;
    color: #656565;
    margin-bottom: 19px;
    margin-top: 7px;
}
.in-text-trade{
    padding: 5px 2%;
    border: none;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    -webkit-appearance: none;
    font: 13px/18px 'RobotoLight', Helvetica, Arial, sans-serif;
    color: #414446;
    text-indent: 3px;
    cursor: default;
    width:96%;
}
.desc-tarea{
    width: 96% !important;
    height: 74px;
}
.video_item {
    position:relative;
    width: 30%;
    min-width:200px;
    display: inline-block;
    margin-right: 3.0%;
    margin-bottom: 20px;
    vertical-align: top;
}
.video_item-play{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
}

/*.offers-list__item-action-link {
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    border-radius: 5px;
    background: #4790c6;
    padding: 3px 20px 5px 54px;
    margin-top:20px;
    border:0;
}*/
.offers-list__item-action-link.message:before {
    content: '';
    width: 31px;
    height: 27px;
    background: url(/local/assets/img/offers-btns.png);
    position: absolute;
    left: 16px;
    top: 10px;
    background-position: 0 -39px;
}
.fancybox-next span {
    background: url(/local/assets/img/fancybox.png);
    background-position: -41px -60px;
    width: 33px !important;
    height: 33px !important;
}
.fancybox-prev span {
    background: url(/local/assets/img/fancybox.png);
    background-position: -41px -30px;
    width: 33px !important;
    height: 33px !important;
}
.black_list{
    display:none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 8000;
    cursor:pointer;
}
.form_back {
    position: relative;
    width: 240px;
    margin: 3% auto;
    background: #fff;
    padding: 30px 18px;
    cursor:default;
}
.form_back .fancybox-close {
    top: -15px;
    right: -15px;
}
/*---------End trade IN----------*/
ul.timeline{
    position: relative;
    height: auto;
    border-bottom: 2px solid red;
    margin-bottom: 291px;
    padding-left: 0;
    margin-top: 216px;
}
.diagn{
    display: block;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    border-radius: 5px;
    background: #4790c6 !important;
    padding: 6px 8px 6px 8px;
    margin-top: 5px;
}
ul.timeline>li{
    display: inline-block;
    max-width: 272px;
    /* border: 1px dashed #ccc; */
    padding-bottom: 25px;
    position: relative;
    width: 233px;
    height: 109px;
    margin-bottom: -9px;
    margin-right: -82px;
    background: url(/local/assets/img/circle_marker.png);
    background-repeat: no-repeat;
    background-position: 90px 121px;
    text-align: center;
}
ul.timeline>li:before{
    display: none;
    content: attr(data-num);
    position: absolute;
    left: 0px;
    top: 10px;
    z-index: 2;
    width: 25px;
    line-height: 25px;
    color: #fff;
    background-color: #db1c26;
    border-radius: 20px;
}
ul.timeline>li .ps-abs{
    position: absolute;
    /* padding-bottom: 30px; */
    bottom: -2px;
    border: 1px solid #ececec;
    margin-bottom: 30px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    min-height: 180px;
}
.ps-abs:before {
    content: ' ';
    position: absolute;
    bottom: -9px;
    display: block;
    background: url(/local/assets/img/treug.png);
    height: 9px;
    width: 13px;
    left: 91px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
ul.timeline>li .ps-abs-btm{
        position: absolute;
    bottom: -196%;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: -17px;
    min-height: 250px;
}
.ps-abs-btm:before {
    content: ' ';
    position: absolute;
    top: -9px;
    display: block;
    background: url(/local/assets/img/treug.png);
    height: 9px;
    width: 13px;
    left: 91px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
/* --- Edit vegas begin ---*/
    .ps-abs__media-wrap{
            display: inline;
            width:100%;       
            height:150px;
            overflow: hidden;
    }
        .ps-abs__media{
            position:relative;
            display: inline-block;
            width:100%; 
            overflow: hidden;
            background-color: #000;
        }
            .ps-abs__thumbnail{
                
                width: 100%;
            }
            
        .ps-abs__overlay-play{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url(/local/assets/img/play-button-white.svg);
            background-color: rgba(0,0,0,.2);
            background-repeat:no-repeat;
            background-size: 20%;
            background-position: center;
            cursor:pointer;
            transition: all .3s;
        }
        
        .ps-abs__overlay-play:hover{
            
            background-image: url(/local/assets/img/play-button-red.svg);
        }
        
        .media-content   {
            position: relative;  
            display: inline-block;
            width: 77%;
            margin-top:0;
            overflow: hidden;

        }     
        
        .media-content__media{
            position:relative;
            display: inline-block;
            width:100%; 
            overflow: hidden;

        }
        
        .media-content__play{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url(/local/assets/img/play-button-white.svg);
            background-color: rgba(0,0,0,.2);
            background-repeat:no-repeat;
            background-size: 20%;
            background-position: center;
            cursor:pointer;
            transition: all .3s;    
        }
        
        .media-content__play:hover{
            
            background-image: url(/local/assets/img/play-button-red.svg);
        }  
        
        .media-content__button{
            font-size: 25px;
            font-family:'RobotoLight', Helvetica, Arial;
            color: #ce0000;
            line-height: 18px;
            background: none;
            border: 0;     
            padding: 0;
            margin-top: 35px;
        }
        
        .media-content__button:after {
            content: "";
            display: inline-block;
            vertical-align: top;
            width: 10px;
            height: 9px;
            background: url(/local/assets/img/offers-btns1.png) 0 95px;
            position: relative;
            top: 7px;
            left: 7px;
        } 
        .media-content__button:hover{
            
            /*border-bottom: solid 1px #ce0000;*/
            
            text-decoration:underline;
        }     
/* --- Edit vegas end ---*/


li.num1:after {
    content: "1";
    position: absolute;
    background: #d20101;
    line-height: 22px;
    padding: 0 7px;
    color: white;
    border-radius: 15px;
    border: 3px solid white;
    bottom: -9px;
    text-align: center;
    left: 85px;
}
li.num2:after {
    content: "2";
    position: absolute;
    background: #d20101;
    line-height: 22px;
    padding: 0 7px;
    color: white;
    border-radius: 15px;
    border: 3px solid white;
    bottom: -9px;
    text-align: center;
    left: 85px;
}
li.num3:after {
    content: "3";
    position: absolute;
    background: #d20101;
    line-height: 22px;
    padding: 0 7px;
    color: white;
    border-radius: 15px;
    border: 3px solid white;
    bottom: -9px;
    text-align: center;
    left: 85px;
}
li.num4:after {
    content: "4";
    position: absolute;
    background: #d20101;
    line-height: 22px;
    padding: 0 7px;
    color: white;
    border-radius: 15px;
    border: 3px solid white;
    bottom: -9px;
    text-align: center;
    left: 85px;
}
li.num5:after {
    content: "5";
    position: absolute;
    background: #d20101;
    line-height: 22px;
    padding: 0 7px;
    color: white;
    border-radius: 15px;
    border: 3px solid white;
    bottom: -9px;
    text-align: center;
    left: 85px;
}
.worktime {
    padding: 5px 0px 5px 10px;
    background: url(/local/assets/img/worktime.png);
    background-repeat: no-repeat;
    background-position: 0px -3px;
    margin: 11px 0;
}
.free {
    padding: 13px 0px 10px 0px;
    background: url(/local/assets/img/free.png);
    background-repeat: no-repeat;
    background-position: 1px 3px;
    margin: 11px 0;
}
.top-banner__info-title {
    font: 36px/39px 'RobotoLight', Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
	padding: 0 10px 0 0;
}
.offers-list__item-text {
    font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
    margin-bottom: 25px;
}
.offers-list__item:nth-child(even) .offers-list__item-image, .offers-list__item:nth-child(even) .offers-list__item-info {
    float: left;
}


.offers-list__item-info, .offers-list__item-image {
    width: 50%;
    box-sizing: border-box;
}
.offers-list__item-info {
    position: relative;
}
.offers-list__item-info {
    position: relative;
    padding: 0 0 40px;
}
.bx-wrapper {
    max-width: 100% !important;
    margin: 0;
}
.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
}
.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
}
.offers-list__item:nth-child(even) .offers-list__item-image, .offers-list__item:nth-child(even) .offers-list__item-info {
    float: left;
}
.offers-list__item-info:nth-child(2n+1) {
    padding-left: 88px;
}
.offers-list__item-info, .offers-list__item-image {
    width: 50%;
    box-sizing: border-box;
}
.offers-list__item-info {
    position: relative;
}
.offers-list__item-info {
    position: relative;
    padding: 0 0 40px;
}
.offers-list__item-info {
    position: relative;
    padding: 0 0 10px;
}
.offers-list__item-info {
    position: relative;
}
.offers-list__item-info, .offers-list__item-image {
    width: 50%;
    box-sizing: border-box;
}
span.car_mark {
    display: inline-block;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
    background: url(/local/assets/img/u198.png);
    background-repeat: no-repeat;
    padding-left: 37px;
}
p.date_auto {
    padding-left: 40px !important;
    margin-top: 6px;
}
.manager_list div, .helper_list {
    padding-left: 40px;
}
.manager_list div, .helper_list {
    /*padding-left: 46px !important;*/
}
.class_manager {
    text-transform: uppercase;
    font-size: 12px;
}
.helper_class {
    margin-top: 15px;
    font-weight: bold;
}
.manager_name {
    background: url(/local/assets/img/u206.png);
    background-repeat: no-repeat;
    font-weight: bold;
}
.offers-list__item-action {
        display: block;
    }
    
    .offers-posRight{float:right!important;}
    .offers-posLeft{float:left!important;}

	
/*  Company style begin ed: kokorin */
	.wrap-full{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    /*float: left;*/
		
	}
	 .banner__img{
		width: 100%; 
	 }
.banner__nav{

    font-size: 0;
    position: relative;
    max-width: 940px;
    margin: 0 auto;
    overflow: hidden;	
}
.banner__nav .comand{
float: right;
padding: 30px 0;
font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
font-weight:bold;
color: #ff0000;
text-decoration: none;
font-size: 25px;

cursor:pointer;
}
.banner__nav .comand:after {
    content: "→";
    display: inline-block;
    width: 26px;
    line-height: 25px;	
}


.banner__nav .comand:hover {
    transition: 1s;
    text-decoration: underline;
}	 
	 
/*  Company style end */	
	
	
	
@media screen and (min-width: 1025px){
    .offers-list__item-action-link{width:288px;    border: 0;margin-top: 20px;padding: 3px 20px 5px 54px;}
}
@media screen and (max-width: 787px){
    /*------- Trade in --------*/

    .offers-list__item-action-link.eventCalc{
        
        width:100%;
        
    }
    
    
    .offers-list__item-action-link.eventCalc:before{
        display:none;
    }
    .offers-list__item-action-link.message:before{
        display:none;
    }
    ul.timeline{
    position: relative;
    height: auto;
    border-bottom: none;
    margin-bottom: 30px;
    padding-left: 0;
    margin-top: 30px;
}

ul.timeline>li{
    display: block;
    width:100%;
    padding-bottom: 25px;
    position: relative;
    height: auto;
    margin-bottom: 10px;
    margin-right: 0px;
    background: none;
    text-align: center;
    max-width:100%;
}
ul.timeline>li:before{
    display: block;
}
li.num1:after, li.num2:after, li.num3:after, li.num4:after, li.num5:after{display:none;}
ul.timeline>li .ps-abs{
    position: relative;
    border: 1px solid #ececec;
    padding:7px !important;
}
.ps-abs:before {
    content: '';
    position: relative;
    display: block;
    background: none;
}
ul.timeline>li .ps-abs-btm{
    position: relative;

    border: 1px solid #ececec;
    padding:7px !important;
}
.ps-abs-btm:before {
    content: '';
    position: relative;
    display: block;
    background: none;
}
.worktime {
    padding: 5px 0px 5px 10px;
    background-repeat: no-repeat;
    background-position: 0px -3px;
    margin: 13px 0 0px;
    text-decoration:underline;
}
.free {
    padding: 13px 0px 10px 0px;
    background: url(/local/assets/img/free.png) !important;
    background-repeat: no-repeat;
    background-position: 1px 3px;
    margin: 4px 0;
    text-decoration:underline;
}
    /*------- End Trade in --------*/
    ul.video-y li {
        width: 46.85% !important;
    }
    .offers-list__item{
        text-align:center;
        padding-left:15px;
        padding-right:15px;
        
    }

    .offers-list__item-action-link{background: #4790c6 !important;border: 0;}
    .offers-list__item-info{
		display: block;
		float: none !important;
		width: 100%;
		padding: 0 !important;
    }
    .black_list {
        background: rgba(0,0,0,0.5) !important;
    }
    .pd-rgb {
        background: rgba(255,255,255,0.5) !important;
    }
    .white{text-shadow:1px 1px 1px #000}
    .form-to-sell{
        background:#fff !important;
    }
    .offers-list__item .issued-auto, .offers-list__item .issued-auto *{
        padding: initial!important;
        text-align: left!important;
    }
    .offers-list__item .issued-auto>*{
        padding-left: 37px!important;
    }
    .offers-list__item .issued-auto .manager_name{
        margin-left: -40px;
        padding-left: 40px!important;
    }
    .car_mark, a.analog-auto{
		display:block;
		width:100%;
		text-align: left;
		max-width:768px;
		padding-left: 40px !important;
	}
    .helper_class, .manager_name{
		padding-left: 40px !important;
	}
    .class_manager {
		padding-left: 40px !important;
	}
	.offers-list__item-action._calc{
		padding: 0px;
	}
	.creditovanie .offers-list__item-action._calc{
		padding: 8px 0;
	}
	
}

@media screen and (max-width: 659px) {

    .crd-2{width: 50%;}
    /*ul.video-y li {width: 100% !important;}*/
    .video_item{
        width: 100%;
        height: 250px;
        margin-bottom: 35px;
    }
    .video_item .video_item-play{
        display: none;
    }
}

@media screen and (max-width: 480px) {

    .crd-2{width: 45%;font-size: 10px;}
    ul.video-y li {width: 100% !important;}
    ul.video-y iframe{border:0;}
    .info__price-wrapper._mobile{    max-width: 100%;}
}

/* 
-----------------------------------------------------
template = creditovanie
-----------------------------------------------------
*/

.page__middle{width:100%;}
.creditovanie .offers-list__item-action-link:before {
    content: '';
    width: 31px;
    height: 27px;
    position: absolute;
    left: 16px;
    top: 10px;
    background-position: 0 -39px;
    cursor:pointer;
}
.black_list{
    display:none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 8000;
    cursor:pointer;
    overflow-y: scroll;
}
.form_back {
    width: 100%;
    max-width: 400px;
    margin: 1% auto;
    background: #fff;
    padding: 30px 18px;
    font-size: 15px;
	box-sizing:border-box;
}
.form_back textarea{
    height: 90px !important;
}
.form_back .uk-form-controls.checkbox label{
    font-size: 14px;
}
.creditovanie .kompany{
    font-size: 15px;
    background: url(/local/assets/img/banner_company.png);
    background-size: cover;
    height: 189px;
    background-position: 0px -121px;
    border:none !important;
}
.garant_block {
    font-size: 21px;
    display: inline-block;
    padding: 25px;
}
.author_video {
    font-size: 16px;
    margin-top: 15px;
    text-decoration: underline;
}
.creditovanie .video_item {
    width: 30%;
    display: inline-block;
    margin-right: 3.333%;
    margin-bottom:20px;
}
.creditovanie .video_item:last-child{
   margin-right: 0%;
}
/*
a.all_cars {
    display: block;
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
}*/
.helper_class {
    margin-top: 15px;
    font-weight: bold;
}
.manager_list div, .helper_list{
    padding-left:40px;
}
.manager_name{
    background: url(/local/assets/img/u206.png);
    background-repeat:no-repeat;
    font-weight: bold;
}
.class_manager {
    text-transform: uppercase;
    font-size: 12px;
}
@-moz-document url-prefix()
{
	.bg_moz{ margin-top:-134px !important; color: white }
}

.page__main-wrapper.page__wrapper-full {
    /*margin: 40px auto 110px;*/
    margin: 40px auto 0;
    width: 100% !important; 
}
.offers-list__item-info:th-child{
padding-left:40px;
}
.offers-list__item:nth-child(odd) .offers-list__item-info, .offers-list__item:nth-child(odd) .offers-list__item-image {
    float: none;
    display: inline-block;
    vertical-align: top;
}
.offers-list__item:nth-child(odd) .offers-list__item-info, .offers-list__item:nth-child(odd) .offers-list__item-image {
    float: left;
}
.offers-list__item-info {
    position: relative;
    padding: 0 0 10px;
}
.potreb{padding-bottom:40px !important;}
.offers-list__item-info {
    position: relative;
}
.creditovanie .offers-list__item {
    padding: 0px 0 0px;
    font-size: 0;
    position: relative;
    max-width: 940px;
    margin: 0 auto;
}
.offers-list__item-info, .offers-list__item-image {
    width: 50%;
    box-sizing: border-box;
}
.offers-list__item:after {
    content: "";
    display: table;
    clear: both;
}
.offers-list__item-info:nth-child(2n+1){
     padding-left:30px;
}
.creditovanie h1{
    font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    
    padding-top: 130px;
    text-shadow: 1px 1px 1px #555;
}
.creditovanie h2{
    font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    margin-bottom: 35px;
    margin-top: 35px;
}
.car_lg{
    background-image: url(/local/assets/img/svg-sprite/spritef1rvxdvaemi.svg);
    background-position: -4px -603px;
    height: 28px;
    padding-left: 53px;
    background-repeat: no-repeat;
}
.bx-wrapper{
    max-width:95% !important;
    margin: 0;
}
.bx-wrapper .bx-viewport {
    box-shadow: none;
}

a.nagrada {
    display: inline-block;
    width: 130px;
    margin-right: 3%;
    margin-bottom: 20px;
}

a.nagrada img {
    width: 100%;
}
span.car_mark {
    width: 153px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom:25px;
    font-size: 25px;
    font-weight: bold;
	background: url(/local/assets/img/u198.png);
    background-repeat: no-repeat;
    padding-left: 37px;
}
p.date_auto {
    padding-left: 39px;
}

.about .video_item {
    width: 30%;
    display: inline-block;
    margin-right: 2.1%;
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (min-width:1025px){

	.page__main-wrapper {
	}
	a.nagrada:nth-child(6){margin-right:0px;}
}
@media screen and (max-width: 768px){
   /* ._search{display:none;}*/
    /*.header__phone{display:none;}*/
	
    .offers-list__item-text p,
    .offers-list__item-text ul
    {
		text-align: left;
		padding: 0 10px;
    }
    
h1 {
    padding-top: 60px;
}
.offers-list__item-info {
    margin-bottom: 0px;
}
.offers-list__item-info {
    padding: 0 0 5px;
}
.offers-list__item {
    padding: 0px 0 5px;
}
.offers-list__item-info:nth-child(2n+1) {
    padding-left: 0px;
}
/*{text-align:center;}*/
.offers-list__item-action {
    display:block !important;
    margin:0 auto;
    padding:0;
}
.offers-list__item-action {
    padding: 8px 0;
}
.video_item {
    width: 100%;
    display: inline-block;
    margin-right: 0px;
    margin-bottom:20px;
}
.offers-list__item-action-link:before{/*background:none;*/}
.offers-list__item-info:th-child{
padding-left:0px;
}
.offers-list-wrapper{padding:0}

span.car_mark {
	width: 100%;
}


/*
.offers-list__item {
    width: 95% !important;
    padding-left: 2.5%; 
    padding-right:2.5%; 
}*/
.bx-wrapper{
    margin: 0 auto;
}
.bx-wrapper{
    margin: 0 auto;
}
.about .offers-list__item {
    width: 95% !important;
	padding: 0px 2.5% 10px;
}
.about .car_lg {
    padding-left: 40px;
    font-size: 16px;
}
.about p.doc, .about .car_mark, .about .class_manager, .about .manager_name, .about .helper_class {
    text-align: left !important;
    margin: 15px auto 0;
}
.about .helper_list {
    padding-left: 0px !important;
}

.about .video_item {
    width: 100%;
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 20px;
}
}
@media screen and (max-width: 1160px){
	.potreb .offers-list__item-desc{text-align:center;}
	
	.g-show-mobile{display:block;}
	.g-show-desctop{display:none!important;}
/*	
.kompany{display:none}
.bwrap{display:none}*/
.offers-list__item-action {
    text-align:center;
    display: block;
    margin-bottom: 15px;
    width: 100%;
}
.offers-list__item-info:th-child{
padding-left:0px;
}
.page__main-wrapper.creditovanie {
    margin: 40px auto 55px;
    width: 100% !important;
}
.creditovanie .offers-list__item{width:80%;}
.top-banner-info-wrapper, .offers-list-wrapper {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}
.offers-list__item-info, .offers-list__item-image {
    float: none;
    width: 50%;
}

}

@media screen and (max-width: 900px){
	
	.creditovanie .offers-list__item{
		width:80%;

		}
		
		.top-banner__info-title{
			
			text-align:center;
		}
}
/*
@media screen and (max-width: 480px){
	
		.form_back{}
		
}*/


.about h1 {
    font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    /* margin-bottom: 35px; */
    padding-top: 130px;
}
.about h2 {
    font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    margin-bottom: 35px;
    margin-top: 35px;
}
.about .top-banner__info-title h2 {
    font-size: 25px;
    padding-top: 25px;
}
.about .car_lg {
    font-size: 20px;
    margin: 0 0 20px;
}
._read-more{
	text-align:right;
}

.about div#video_smotr {
	display:inline-block;
    font-size: 25px;
    color: #ff2c17;
    text-align: center;
    padding-top: 46px;
    border: none;
    border-bottom: none !important;
    transition: 1s;
    cursor: pointer;
    font-weight: bold;
}
.doc {
    background-image: url(/local/assets/img/car_icon2.png);
    /* width: 35px; */
    padding-left: 53px!important;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 0 0 40px;
    background-position: 0px 14px;
    min-height: 40px;
}
.doc a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed white;
}
.offers-list__item.kompany {
    font-size: 15px;
    /*border: none !important;*/
    max-width: 2200px !important;
    margin: 0 auto;
}
.offers-list__item.kompany img{
    width: 100%;
}
.offers-list__item.kompany {
    font-size: 15px;
    /*border: none !important;*/
    max-width: 2200px !important;
    margin: 0 auto;
}
.offers-list__item .comand {
	float: right;
    font: 14px/16px 'RobotoLight', Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: #ff2c17;
    text-align: center;
    padding-top: 39px;
    border: none;
    border-bottom: none !important;
    transition: 1s;
    cursor: pointer;

}
/*
.offers-list__item .comand:after {
    content: "";
    display: inline-block;
    width: 30px;
    line-height: 25px;

    position: relative;
    left: 3px;
    font-weight: bold;
}

.offers-list__item .comand:hover {
    transition: 1s;
    text-decoration: underline;
}
*/



.about p.date_auto {
    padding-left: 39px!important;
    margin-top: 0px!important;
}
.about .class_manager a {
    color: #000;
}

.all_cars-wrap{
    position: relative;
    text-align: right;	
}

.about a.all_cars {
	position: relative;
	display: inline-block;
	top: -36px;
	padding-right: 9px;
    color: #000;
	font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}
a.all_cars:after {

    content: "→";
    width: 10px;
    height: 10px;
    position: relative;
    top: -1px;
    left: 9px;
    text-decoration: none;
}

.about a.all_cars:hover {
	
	color:#ff0000;
}


.about .medialibslider > ul {
    width: 32500px;
}
.about .garant_block {
    font-size: 18px;
    display: inline-block;
    padding: 16px;
    max-width: 240px;
    padding-left: 52px;
    background: url(22);
    background-image: url(/local/assets/img/svg-sprite/spritef1rvxdvaemi.svg);
    background-position: -4px -729px;
    background-repeat: no-repeat;
}
.about .garant_block:nth-child(1) {
    background-image: url(/local/assets/img/yes.png);
    background-position: 0px 23px;
}
.about .garant_block:nth-child(2) {
    background-image: url(/local/assets/img/bez.png);
    background-position: 5px 23px;
    background-size: 20px;
}
.about .garant_block:nth-child(3) {
    background-image: url(/local/assets/img/zaschita.png);
    background-position: 4px 21px;
}
.about .offers-list__item{
	padding: 0px 0 40px;
    font-size: 0;
    position: relative;
    max-width: 940px;
    margin: 0 auto;
	overflow: hidden;
}

.contacts h1 {
    font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    margin-bottom: 35px;
}



/*

@media screen and (max-width: 640px){
	
h1 {
    font: 24px/34px 'RobotoLight', Helvetica, Arial, sans-serif;

}
}*/


 /* edit AMIR 28 07 */
@media screen and (max-width: 480px){
	.winVideo{
		width: 100% !important;
    	height: 228px !important;
	}
}

.pagination h2{
	    font: 29px/2px 'RobotoLight', Helvetica, Arial, sans-serif;
}
 /* end edit*/


.autocreditovanie h1 {
    font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    padding-top: 50px;
    text-shadow: 1px 1px 1px #555;
}
.autocreditovanie h2 {
    font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    margin-bottom: 35px;
    margin-top: 35px;
}
.autocreditovanie h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.autocreditovanie .offers-list__item-action-link {
    width: 100%;
    margin: 0 auto;
	padding: 12px 20px 12px 54px;
}
.autocreditovanie .offers-list__item-action-link:before{
	content: '';
    width: 31px;
    height: 27px;
    position: absolute;
    left: 16px;
    top: 10px;
    background-position: 0 -39px;
    cursor: pointer;
}
.autocreditovanie .offers-list__item-actions {
    max-width: 240px;
    margin: 0 auto;
}
.autocreditovanie .offers-list__item + .offers-list__item {
    border-top: 1px solid #eeeeee;
}
.autocreditovanie .offers-list__item {
   font-size: 0;
}
.offers-list__item-text.block-ccc {
    background: rgba(0,0,0,0.45);
    padding: 5px 15px 0;
    border-radius: 4px;
}
.rassmotr-zayav {
    background-image: url(/local/assets/img/timeclock.png);
    padding-left: 53px;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 0 0 40px;
    background-position: 0px 2px;
    min-height: 40px;
}
.poluchenie {
    background-image: url(/local/assets/img/yes.png);
    padding-left: 53px;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 0 0 40px;
    background-position: 0px 2px;
    min-height: 40px;
}
.zaschita {
    background-image: url(/local/assets/img/zaschita.png);
    padding-left: 53px;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 0 0 40px;
    background-position: 0px 2px;
    min-height: 40px;
}
.result-oplata {
    background-image: url(/local/assets/img/result.png);
    padding-left: 53px;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 0 0 40px;
    background-position: 0px 2px;
    min-height: 40px;
}
.procent {
    background-image: url(/local/assets/img/procent.png);
    padding-left: 53px;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 0 0 40px;
    background-position: 0px 6px;
    min-height: 40px;
    background-size: 29px;
}

.doci {
    background-image: url(/local/assets/img/doci.png);
    padding-left: 53px;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 0 0 40px;
    background-position: 0px 2px;
    min-height: 40px;
}
.rinok {
    background-image: url(/local/assets/img/rinok.png);
    padding-left: 53px;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 0 0 40px;
    background-position: 0px 2px;
    min-height: 40px;
	background-size: 34px;
}
.calculator{
    background: url(/local/assets/img/offers-btns_calc.png);
    background-repeat: no-repeat;
    padding-left: 40px;
    min-height: 40px;
    cursor: pointer;
}
.title-vopros{
    color: black;
    font-size: 18px;
    text-decoration: underline;
    cursor:pointer;
    margin: 5px 0 22px;
	position:relative;
}
.title-vopros:hover {
    color: #c60000;
}
.title-vopros:before{
	content:"\2193";
	position:absolute;
	left:-20px;
}
.btn-lft {
    margin: 0 !important;
}

.list_bank {
    padding-bottom: 50px;
}
.bank_item {
    display: inline-block;
    max-width: 141px;
    margin-right: 45px;
    margin-bottom: 45px;
}
.bank_item img{
    width:100%;
    vertical-align:middle;
}

@media screen and (max-width: 1025px){
	.autocreditovanie .offers-list__item {
		width: 510px;
	}
	.autocreditovanie .offers-list__item-info:nth-child(2n+1) {
		padding-left: 0px;
	}
	.btn-lft {
		margin: 0 auto !important;
	}
	.autocreditovanie .video_item{
		width: 100%;
	}
	.bank_item {
		display: inline-block;
		max-width: 113px;
		margin-right: 12px;
		margin-bottom: 30px;
	}
	.offers-list__item-info, .offers-list__item-image{
		width: 100%;
	}
	span.car_mark {
		margin: 0!important;
		vertical-align: text-bottom;
	}
}

@media screen and (max-width: 768px){
	.autocreditovanie .adventage .offers-list__item-text>p{
		padding-left: 53px;
	}
	.offers-list__item-action-link:before{
		/*background: none;*/
	}
	.autocreditovanie .offers-list__item-action-link{
		padding: 15px 0;
	}
	.autocreditovanie .author_video {
		display: none;
	}
	.autocreditovanie .offers-list__item {
		width: 95% !important;
		padding-left: 2.5%;
		padding-right: 2.5%;
	}
	.autocreditovanie .offers-list__item-desc p {
		padding-left: 5px;
		padding-right: 5px;
	}
	.about a.all_cars{
		text-align: center;
	}
}

@media screen and (max-width: 480px){
	/*
.about .offers-list__item {
    width: 100% !important;
    padding: 0px 5.5% 10px;
}*/
}

#map {
    height: 340px;
    max-width: 100%;
}
.about .car_mark{
    margin: 0 auto;
	vertical-align: top;
}

.page__footer._js-footer{
	position:static !important;
}
