*:focus {
    outline: none;
}
.webform__wrap{
    padding: 0px 0 40px;
    font-size: 0;
    position: relative;
    max-width: 940px;
    margin: 10px auto 0 auto;
    overflow: hidden;
    text-align:center;    
}

.webform__buttom{

    font: inherit;
    color: #444;
    display: inline-block;
    -moz-box-sizing: border-box;
    padding: 5px 12px;
    background: #f7f7f7;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .3);
    background-origin: border-box;
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(to bottom, #fff, #eee);
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;
    font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
}


.modalForm{
    display:none;
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto;
    z-index:25;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
}

.modalForm-order{
    width:540px;
    height:380px;	
	background-color: #fff;
}

label.error{display:none!important;}

.modalForm__head{
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #d83f47;
    color: #fff;
    font-size: 18px;
	box-sizing: border-box;
}
.modalForm__headerLogo{
    max-width: 50%;
    box-sizing: border-box;
    vertical-align: top;
}

    .modalForm__eventCancel{
		position: absolute;
		top: 10px;
		right: 10px;
		width: 48px;
		height: 48px;
		border: 0;
    }
	
	.modalForm__eventCancel:after{
		content: '×';
		font: 20px/30px Arial,"Helvetica Neue",Helvetica,sans-serif;
		color: #888;
		font-weight: 300;
		text-align: center;
		border-radius: 50%;
		border-width: 0;

		transition: background .25s;
		box-sizing: border-box;
		z-index: 2;	
	}
	
    .modalForm__eventCancel:hover{
		opacity:.5;
		
	}  
	
.modalForm__body{
    display: inline-block;
    margin-top: 15px;
}

    .modalForm__row-buttons{
        float: left; 
        width: 35%;
		padding-left:10px;
        box-sizing:border-box;
     }
    
    .modalForm__row-wrap{
        float: right;
        width: 60%;
        box-sizing:border-box;
    }
    
    .modalForm__row-buttontitle{
		font-size: 18px;
		padding: 10px 0 0;
		color: #000000;
		text-align: left;
        
    }
    
    .modalForm__row-title{
		font-size: 18px;
		padding: 10px 0 0;
		color: #000000;
		text-align: left;
    }
    
    .modalForm__wrapInput{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    }
    
    .modalForm__row{
        display: inline-block;
        width: 100%;
    }
    
    .modalForm__row-input{
		
		margin-top: 5px;
		margin-bottom: 2px;
		padding-right: 10px;
		box-sizing: border-box;
    }

        .modalForm__input{
			width: 100%;
			padding: 12px 10px;
			box-sizing: border-box;

			border: 0;
			font-size: 15px;
			border-top: solid 1px #e2e2e2;
			border-bottom: solid 1px #e2e2e2;
			border-right: solid 1px #e2e2e2;
			border-left: solid 3px #ccc;	
        }
		
        .modalForm__textarea{
			width: 100%;
			height: 94px;
			padding: 12px 10px;
			box-sizing: border-box;

			border: 0;
			font-size: 15px;
			border-top: solid 1px #e2e2e2;
			border-bottom: solid 1px #e2e2e2;
			border-right: solid 1px #e2e2e2;
			border-left: solid 3px #ccc;	
        }
		
        .modalForm__input.error,
        .modalForm__textarea.error
		{
			border-left: solid 3px #ff0000;
			
		}
		
	.webForm__msg{
		font-size: 18px;
		border: solid 2px #8BC34A;
		display: inline-block;
		padding: 16px;
		color: #6b9c33;
	}	

.modalForm__btn {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 12px 10px;
    width: 100%;
    border-radius: 3px;
    background: #2b82af;
    transition: 0.2s;
    margin-top: 4px;
    margin-bottom: 2px;
    border-top: solid 0px #ffffff;
    border-right: solid 0px #ffffff;
    border-bottom: solid 2px #16516f;
    border-left: solid 0px #ffffff;
} 
.modalForm__btn:hover {     
	background: #54aedc;
	border-bottom: solid 2px transparent; 
	}
	
.modalForm__btn:active {
    background: #54aedc;
    border-bottom: solid 2px transparent;
}

.modalForm__btn.modalForm__btn-select {
    background: #54aedc;
    border-bottom: solid 2px transparent;
}


    .modalForm__row-submit{
    padding-top: 10px;  
    padding-bottom: 10px;  
    }

        .modalForm__submit{

            display: inline-block;
            padding: 8px 12px;
            background: #f7f7f7;
            color: #444;
            border: 1px solid rgba(0, 0, 0, .2);
            border-bottom-color: rgba(0, 0, 0, .3);
            background-origin: border-box;
            background-image: -webkit-linear-gradient(top, #fff, #eee);
            background-image: linear-gradient(to bottom, #fff, #eee);
            border-radius: 4px;
            text-shadow: 0 1px 0 #fff;
            font-size: 14px;
        }



.modalform__shadow{
    display:none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: .2;
}

div[id^="wait_comp_"]{display:none;}

@media only screen and (max-width:640px) {
	.webform__wrap{padding:0}
}

	@media only screen and (max-width:500px) {
		
		.modalForm{
			
			width:100%;
			height:100%;
			z-index:105;
		}

		.modalForm__row-buttons {

			width: 100%;
			padding-left: 5%;
			padding-right: 5%;

		}
		
		.modalForm__row-wrap {
			width: 100%;
			margin-top: 40px;
			padding-left: 5%;
			padding-right: 5%;
		}
		
		.modalForm__input{padding: 10px 10px;}
		
		.modalForm__row-wrap {margin-top: 15px;}
		
		.modalForm__row-submit {padding-top: 0px;}	
	}
