.auto__list-nav{
    display: block; 
    width: 940px;
    /*height: 44px;*/
    margin: auto;
	box-sizing: border-box;	
	text-align:center;
}

.btn-subscription{
    border: 0;
    display: inline-block;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    border-radius: 5px;
    background: #4790c6;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
}

a.btn-subscription{
    font-size: .9rem;
    text-align: center;
    width: 27%;
}

.btn-subscription:hover{
	
	background-color:#ff0000;
}

.not_found_text{
    text-align: center;
    line-height: 2rem;
}

.buttons_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 40px;
}
@media screen and (max-width: 1024px) and (min-width: 320px){
    .buttons_wrap{
        flex-direction: column;
    }
    a.btn-subscription{
        width: 50%;
        margin:15px;
    }
	.auto__list-nav {
		width: 100%;  
		padding: 0 20px;	
		margin-bottom:40px;
	}
}

