
/* блог навигация*/
.modern-page-navigation {
	display:inline-block;
	width:100%;
    margin: 20px auto;
    text-align: center;
}


.modern-page-navigation a,
span.modern-page-current,
span.modern-page-dots
{
	display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 18px;
    transition: all .4s;
    text-decoration: none;
    color: #000;
    font-weight: 400;
}

.modern-page-navigation a.modern-page-previous, 
.modern-page-navigation a.modern-page-next {
	text-indent: -10000px;
	position: relative;
}

.modern-page-navigation a.modern-page-previous:after, 
.modern-page-navigation a.modern-page-next:after {
	content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 14px;
    height: 22px;
    margin-left: -7px;
    margin-top: -11px;

}
.modern-page-navigation a.modern-page-previous:after{
    background: url('/local/assets/img/arrow-left.jpg');
}
.modern-page-navigation a.modern-page-next:after{
    background: url('/local/assets/img/arrow-right.jpg');
}

.modern-page-navigation a:hover, 
span.modern-page-current{
	border-bottom: 1px dashed;
}