.modern-page-navigation {
	display: inline-block;
	padding: 15px 24px;
	margin-bottom: 30px;
	border: 1px solid #efefef;
	border-radius: 5px;
}
.modern-page-navigation .modern-page-title{display: block; font-size: 10px; color: #5d5d5d; margin-bottom: 5px;}
.modern-page-navigation a,
span.modern-page-current,
span.modern-page-dots
{
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #ebebeb;
	text-decoration: none;
	font-size: 14px;
	color: #000;
	transition: all .4s;
}
.modern-page-navigation a.modern-page-previous, .modern-page-navigation a.modern-page-next {
	text-indent: -10000px;
	position: relative;
}
.modern-page-navigation a.modern-page-previous:after, .modern-page-navigation a.modern-page-next:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 13px;
	height: 3px;
	margin-left: -6px;
	margin-top: -2px;
	background: url(/local/templates/main/img/icons.png);
}
.modern-page-navigation a.modern-page-previous:after{background-position: 0 -51px;}
.modern-page-navigation a.modern-page-next:after{background-position: 0 -54px;}

.modern-page-navigation a.modern-page-previous:hover:after{background-position: 0 -57px;}
.modern-page-navigation a.modern-page-next:hover:after{background-position: 0 -60px;}

.modern-page-navigation a:hover, span.modern-page-current{
	color: #fff;
	background: #0074be;
}
/*.modern-page-navigation a,
span.modern-page-current,
.modern-page-navigation a.modern-page-previous,
span.modern-page-dots {
	border-color: #cdcdcd; }*/
