.fav__title {
    position: relative;
    display: inline-block;
	margin-bottom: 30px;
	padding-right: 50px;
    vertical-align: top;
    max-width: 660px;
    font: 26px/44px 'RobotoLight', Helvetica, Arial, sans-serif;
    color: #363a42;
}

.fav__title::after {
    position: absolute;
    right: 0;
    content: '';
    width: 40px;
    height: 40px;
    background-image: url(/local/assets/img/svg-sprite/star-inactive.svg);
    background-repeat: no-repeat;

	
}


.fav__wrap {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
	box-sizing:border-box;
}

.favorite-auto__item-picture-img{
	width:164px!important;
	
}

.favorite-auto__item-nav{
    box-sizing: border-box;
    display: table-row;

    vertical-align: top;
    font: 14px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
    color: #2c2c2c;
}

.favorite-auto__nav-cell{
    position: absolute;
    right: 0;
}

.favorite-auto__item-btn{
    position: absolute;
    bottom: 8px;
    right: 10px;
    width: 140px;
	
    -webkit-appearance: none;
    margin: 0;
    overflow: visible;
    font: inherit;
    color: #444;
    text-transform: none;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 12px;
    background: #f7f7f7;
    vertical-align: middle;
    line-height: 32px;
    min-height: 34px;
    font-size: inherit;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .3);
    background-origin: border-box;
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(to bottom, #fff, #eee);
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;
}

/* ~~~ Header style ~~~*/

.favorite__auto {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
}
.favorite-auto__header {
    display: table-row;
}
.favorite-auto__header-item {
    box-sizing: border-box;
    padding-right: 15px;
    padding-bottom: 5px;
    display: table-cell;
}
.favorite-auto__header-item._active .favorite-auto__header-item-text {    color: #54585c;}

.favorite-auto__header-item._price .favorite-auto__header-item-text:before {
    display: none;
}
.favorite-auto__header-item-link{
    color: #a8acaf;
    text-decoration: none;
	position: relative;
}
.favorite-auto__header-item._price .sod_select {
    position: relative;
    top: 3px;
    border: none;
    width: 42%;
    text-indent: 1px;
}
.favorite-auto__header-item._price .sod_select:before {
    background-image: url('/local/assets/img/svg-sprite/spritef1rvxdvaemi.svg');
    background-position: -4px -1715px;
    width: 8px;
    height: 12px;
    background-repeat: no-repeat;
}
.favorite-auto__header-item._date {
    width: 8%;
}
.favorite-auto__header-item._date .favorite-auto__header-item-text {
	position: relative;
	margin-top: 6px;
	width: 145px;
	display: block;
}
.favorite-auto__header-item._picture {
    width: 23%;
}
.favorite-auto__header-item._model {
    width: 16%;
}
.favorite-auto__header-item._year {
    width: 9%;
}
.favorite-auto__header-item._engine {
    width: 13%;
}
.favorite-auto__header-item._mileage {
    width: 16%;
}
.favorite-auto__header-item._price {
    width: 17%;
}
.favorite-auto__header-item-text {
    position: relative;
    font: 14px/18px 'RobotoLight', Helvetica, Arial, sans-serif;
    color: #a8acaf;
    cursor: pointer;
}

.favorite-auto__header-item-text-rub {
    color: #db1c26;
    text-transform: uppercase;
}


/* ~~~ ~~~ */
.favorite__item-cell-important {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    font: 18px/24px 'RobotoMedium', Helvetica, Arial, sans-serif;
}
.favorite__item-cell {
    box-sizing: border-box;
    display: table-cell;
    padding-top: 25px;
    padding-right: 20px;
    vertical-align: top;
    font: 14px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
    color: #2c2c2c;
}

.favorite__item-cell-important:after {
    content: '';
    position: absolute;
    top: 6px;
    right: -17px;
    background-image: url(/local/assets/img/svg-sprite/spritef1rvxdvaemi.svg);
    background-position: -4px -1649px;
    width: 10px;
    height: 13px;
    background-repeat: no-repeat;
}
/*
.favorite__item-cell-important:after {
    background: none;
    content: '\20AC';
    top: 0;
}
*/
/* ~~~ ~~~ */

.favorite-auto__item {
	position:relative;
    display: table-row;
	width:100%;
    border-top: 1px solid #e9e9e9;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    text-decoration: none;
	box-sizing:border-box;
}
.favorite-auto__item._added {    border: 1px solid #99a9b1;}
.favorite-auto__item._added .favorite-auto__item-cell-favorites {    color: #db1c26;}

.favorite-auto__item._added .favorite-auto__item-cell-important {    font-family: RobotoRegular;}
.favorite-auto__item:hover {    border: 1px solid #99a9b1;}
.favorite-auto__item:hover + .favorite-auto__item {    border-top: 1px solid #99a9b1;}
.favorite-auto__item-cell {
    box-sizing: border-box;
    display: table-cell;
    padding-top: 25px;
    padding-right: 20px;
    vertical-align: top;
    font: 14px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
    color: #2c2c2c;
}


.favorite-auto__item-cell._picture {    padding-top: 9px;}
.favorite-auto__item-cell._model {    position: relative;}
.favorite-auto__item-cell._model .favorite-auto__item-cell-favorites {
    position: absolute;
    bottom: 21px;
}
.favorite-auto__item-cell._date {    padding-left: 15px;}
.favorite-auto__item-picture-img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.favorite-auto__item-cell-important {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    font: 18px/24px 'RobotoMedium', Helvetica, Arial, sans-serif;
}
.favorite-auto__item-cell-important._new {    color: #db1c26;}
.favorite-auto__item-cell-favorites {
    position: relative;
    padding-left: 17px;
    color: #585858;
}

.favorite-auto__item-cell-about {
    display: block;
    color: #585858;
}
.favorite-auto__item-cell-city {
    display: block;
}
/*Styles for mobile version*/
.favorite-auto__item-wrapper {
    padding: 0 5px;
}
/*
.favorite-auto__item {
    word-break: break-word;
}*/
.favorite-auto__item._mobile {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid transparent;
}
.favorite-auto__item-left {
    display: inline-block;
    vertical-align: top;
    margin-right: 7%;
    width: 45%;
    font: 14px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
    color: #2c2c2c;
    font-weight: bold;
}

.lt-ie8 .favorite-auto__item-left-wrapper {    zoom: 1;}
.favorite-auto__item-left-model {    float: left;}
.favorite-auto__item-left-year {    float: right;}
.favorite-auto__item-left-picture-img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.favorite-auto__item-rigth {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    max-width: 40%;
    font: 14px/24px 'RobotoRegular', Helvetica, Arial, sans-serif;
    color: #2c2c2c;
}

.lt-ie8 .favorite-auto__item-rigth {    zoom: 1;}
.favorite-auto__item-rigth-favorites {
    float: right;
    position: relative;
    top: 6px;
    right: -19px;
    width: 30px;
    height: 30px;
}


.favorite-auto__item-rigth-price {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    font-weight: bold;
    color: #2c2c2c;
}

.favorite-auto__item-rigth-about {
    margin-bottom: 10px;
    font: 12px/14px 'RobotoLight', Helvetica, Arial, sans-serif;
}

.favorite-auto-layout{
	
	
}
/* ~~~ Style ~~~ */
.favorite__text{
	
    padding: 40px 0;
    font: 16px/36px 'RobotoLight', Helvetica, Arial, sans-serif;	
}

.fav__star{
    display: inline-block;
    position: relative;
    padding-left: 50px;
}

.fav__star::before{
	content: '';
	width: 30px;
	height: 30px;
	display: inline-block;
	background-image: url(/local/assets/img/svg-sprite/star-inactive.svg);
	background-repeat: no-repeat;
	position: absolute;
	left: 14px;
	top: 0;
	bottom: 0;
	margin: auto;
	
}

.mobile_autolist{
	
	display:none;
}


@media screen and (max-width: 1024px) and (min-width: 320px){
	.fav__wrap{width:100%;padding:0 20px;}
	.favorite-auto__item-cell-important {font: 14px/18px 'RobotoMedium', Helvetica, Arial, sans-serif;}
	
	.favorite-auto__header-item._date {width: 4%;}
	.favorite__item-cell-important {font: 14px/18px 'RobotoMedium', Helvetica, Arial, sans-serif;}
	.favorite__item-cell-important:after {top: 1px;}
	
	}
	
@media screen and (max-width: 661px){

.favorite__auto {
    display: none;
}

.mobile_autolist {
    display: block;
}

.favorite-auto__item-btn{
    width: 35px;
    height: 35px;
    font-size: 0;
    background-color: #fff;
    background-image: url(/local/assets/img/del.png);
    background-size: cover;
    border: none;
}
button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}

button::-moz-focus-outer, ::-moz-focus-inner {
    border: 0;
    padding: 0;
}

}