.text__it-wrap {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
    padding: 0px 0 40px;
    overflow: hidden;
	font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
}

		
	@media only screen and (max-width:800px) {
		
		.text__item-text{
			
			padding:0 30px 40px 30px;
		}

	}			