
    .history-slider__wrap{
    position: relative;   
	width:100%;
	margin-top: 50px;
    overflow: hidden;	
	}

	.history-slider{
    position: relative;
    width: 100%;
    overflow: hidden;
    }

	.slider {
        width: 100%;
		height:500px;
    }

    .slick-slide {
      margin: 0px 20px;
	  height:500px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
	
	
	    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide img {
      width: 100%;
    }
	
	
	@media only screen and (max-width:800px) {
		
		
		.page-history__title{
			width: 100%;
			padding:0 30px;
		}	
	}
    
	@media only screen and (max-width:640px) {

		.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
			
			left: 5%!important;
			
		}
	
		.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
			
			    right: 5%!important;
		}
		
		.swiper-button-next, .swiper-button-prev{
			    background-size: 18px 30px!important;
			
		}
		
		.page-history__title{
			width: 100%;
			padding:0 30px;
		}	
	}
	
	@media only screen and (max-width:500px) {

		
		.swiper-button-next, .swiper-button-prev{
			    background-size: 27px 15px!important;
			
		}
		
		.page-history__title{
			width: 100%;
			padding:0 30px;
		}	
	}