.page-history__wrap{
    padding: 0px 0 40px;
    font-size: 0;
    position: relative;
    max-width: 940px;
    margin: 0 auto 0 auto;
    overflow: hidden;
	box-sizing: border-box;
}
.page-history__title{
    width: 940px;

    margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
	
	box-sizing: border-box;
}

	.page-history__h1{

    padding-top: 60px;
    padding-bottom: 20px;
    color: #000;
	font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
	}
	
	.history__item{
        display: inline-block;
        margin-top:40px;
        margin-bottom: 40px;
	}
	
	.history__item h2 {

    margin-bottom: 0;
    margin-top: 0;
	font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
	}
	
	.history__item p {

        font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
		overflow: hidden;
    }  
    
	.history__item-left .history__item-media{
		
		position: relative;
		float: left;
		display: inline-block;
		margin-right:40px;
	}
    
	.history__item-right .history__item-media{
		
		position: relative;
		float: right;
		display: inline-block;		
		margin-left:40px;
	}	
	
		.history__item-media img{width:100%}
		
        .history__x-50 .history__item-media,
        .history__x-50 .history__head-empty
		{
            width: 50%;
        }
        
        .history__x-45 .history__item-media,
        .history__x-45 .history__head-empty
		{
            width: 45%;
        }
        
        .history__x-40 .history__item-media,
        .history__x-40 .history__head-empty
		{
            width: 40%;
        }
        
        .history__x-35 .history__item-media,
        .history__x-35 .history__head-empty
		{
            width: 35%;
        }
        
        .history__x-30 .history__item-media,
        .history__x-30 .history__head-empty
		{
            width: 30%;
        }
		
        .history__item-description{
            display: inline-block;
			width: 100%;
            padding: 4px 10px 0 0;
            margin-top: 10px;
            border-top: solid 1px #ccc;
            color: #db1c26;
            font: 15px/21px 'RobotoLight', Helvetica, Arial, sans-serif;
			text-align: justify;
			box-sizing: border-box;			
        }
        
		.history__item-text{
			position: relative;
			display: block;
			overflow: hidden;
		}
		
		.history__item-text p{
			text-align: justify;
		}
		
        .history__item ul{
			padding-left: 18px;
            overflow:hidden;
        }
		
        .history__item ol{
            
            padding-left:18px;
            margin:0;
			overflow:hidden;
        }
		
        .history__item li{
            
            font: 15px/21px 'RobotoLight', Helvetica, Arial, sans-serif;
        }	
	.history__item-text p{

		font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
		padding-bottom: 15px;
		margin: 0;		
	}
	
	.history__item:last-child{margin-bottom: 0px;}
	
	
	
	.history__item-head{
		display: inline-block;	
		width: 100%;	
	}
	
	.history__item-head h2{
		padding-bottom: 10px;	
		overflow: hidden;
	}
	
	.history__item-left .history__head-empty{
		position: relative;
		float: left;
		display: inline-block;
		margin-right: 40px;
		
	}
	
	.history__item-right .history__head-empty{
		position: relative;
		float: right;
		display: inline-block;
		margin-right: 40px;
		
	}
	
	.history__head-empty{
		
	    min-height: 1px;	
	}
	
	
	

	
	@media only screen and (max-width:1025px) {
		.page-history__wrap{
			max-width: 100%;
			padding:0 20px 40px 20px;
		}	
		
	}
	
	@media only screen and (max-width:800px) {
		
		h2 {font: 26px/38px 'RobotoLight', Helvetica, Arial, sans-serif!important;}
		
		.page-history__wrap{
			width: 100%;
			padding:0 20px 40px 20px;
		}

		.history__item-left .history__item-media,
		.history__item-right .history__item-media
		{
			width:100%;
			margin-right: 0;
		}
		
		.history__item-text{
			
			float:left;
		}
		
		.history__item-left .history__head-empty,
		.history__item-right .history__head-empty
		{display:none;}
		
		.history__item-head h2{
			
			width:100%;
			text-align:center;
			margin-bottom:30px;
		}
		
		.history__item-media{
			margin-bottom:40px;
		}
	}
	
	@media only screen and (max-width:640px) {
		
		.history__x-45 .history__item-media {
			width: 100%;
			margin-right: 0;
		}
		
		.history__item h2 {

			margin-top: 20px;
			display: inline-block;
			width: 100%;
			text-align: center;
		}
	}
    

	@media only screen and (max-width:500px) {

		.page-history__h1 {    font: 24px/34px 'RobotoLight', Helvetica, Arial, sans-serif;}
		.history__item h2 {    font: 22px/30px 'RobotoLight', Helvetica, Arial, sans-serif!important;}
	}	
	
	