.category_list .column a {
    color: #4790c6;
    font: 16px/30px 'RobotoLight', Helvetica, Arial, sans-serif;
}
.category_list {
    margin: 30px auto 0px;
    width: 940px;
}

.category_list .column {
	
    list-style: none;
}

.category_list li {
	padding: 5px;
	display: inline-block;
	width: 16.2%;
	box-sizing: border-box; 
}
.category_list h1 {
    font: 29px/2px 'RobotoLight', Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 920px){
	.category_list {width: 100%;}
	.category_list li {width: 16%;}
	.category_list .column {padding:0 20px;}
}


@media screen and (max-width: 660px){

	.category_list li {width: 23%;}
}

@media screen and (max-width: 480px){

	.category_list li {width: 32%;}
}