*:focus {
    outline: none;
}

.offers-list__item-action-link{box-sizing: content-box;}



.youVideo{
    display:none;
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:920px;
    height:516px;
    margin:auto;
	background-color: #f2f2f2;
    z-index:25;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
}

    .youVideo__eventCancel{
		position: absolute;
		top: -40px;
		right: -15px;
		width: 51px;
		height: 51px;
		border: 0;
		background-color: transparent;
		background-image:url(/local/assets/img/cancel-black.svg);
		background-repeat: no-repeat;
		background-position: center;
    }
	
    .youVideo__eventCancel:hover{
		opacity:.5;
		
	}  
	
.youVideo__body{
    display: inline-block;
    width:100%;
    height:100%;
}

.youVideo__shadow{
    display:none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: .2;
}

div[id^="wait_comp_"]{display:none;}


	@media only screen and (max-width:1140px) {
        
        .youVideo {width: 854px;height: 480px;}  
        
    }

	@media only screen and (max-width:854px) {
        
        .youVideo {width: 640px;height: 360px;}  
        
    }

	@media only screen and (max-width:640px) {
        
        .youVideo {width: 95%;min-height: 280px;}  
		
			.youVideo__eventCancel{
			top: 0px;
			right: 0px;
			width: 48px;
			height: 48px;	
		}
		
		.youVideo__body {

			padding: 48px 5px 5px 5px;
			box-sizing: border-box;
		}
		
    }    

	@media only screen and (max-width:480px) {
        
        .youVideo {
			width: 95%;
			height: 280px;
		}  
        
    }       
	@media only screen and (max-width:400px) {
        
        .youVideo {
			width: 95%;
			height: 180px;
		}  
        
    }       
    
