    <div class="comlexForm-input-fullrow field #required#" id="SID">
		
          <input type="text" name="SID" class="comlexForm-in-text" value="" />
		<?if($arFields["REQUIRED"]=="Y"){?>
			<div class="error-block">Заполните это поле</div>
		<?}?>
    </div>