<div style="font-family: 'Arial';color: #000;margin-bottom: 15px;border-bottom: solid 4px #000;padding: 0 0 15px 0;">
	<a href="#PAGE_URL#" style="width: 100%;display: inline-block;padding: 10px 0;font-family: 'Arial';color: #000;font-size: 21px;text-decoration: none;">#NAME#</a>
	<div style="display: inline-block;width:100%">
		<img style="float:left;" border="0" src="#PICTURE#" alt="" />		
		<div style="float:left;width:45%;padding-left:15px;font-family:'Arial';color:#000;">#TEXT#</div>
	</div>
	<div style="display:inline-block;width:100%;text-align: right;">
	<a href="#PAGE_URL#" 
	style="display: inline-block;padding: 10px 0;font-family: 'Arial';margin-top: 30px;color: #fff;font-size: 16px;background: #4790c6;padding: 10px 15px;text-decoration: none;"
	>#TEXT_BUTTON#</a>
	</div>
</div>