		@font-face {
    font-family: 'RobotoLight';
    src: url('fonts/RobotoLight/RobotoLight.eot');
    font-weight: 400;
    font-style: normal;
}
*{
	margin:0;
	padding:0;
}
body{
	font-family: 'RobotoLight';
	font-size:18px;
}
.logo{
    /* text-align: center; */
}
.logo img{
	width:100%;
	max-width:320px;
}
.page{
	max-width:1024px;
	margin:0 auto;
	padding:10px;
	color: #737475;
}
a.header__phone {
    /* text-align: center; */
    color: #db1c26;
    text-decoration: none;
    font-size: 25px;
    vertical-align: top;
    display: inline-block;
    margin-top: 21px;
    margin-left: 30px;
}
ul{margin-left:35px;}
.content{
	margin-top:20px;
}
h1{
	margin:20px 0;
	font-size:25px;
}
p{margin-bottom:12px;}
.removeMail{color:#db1c26}
.item{float:left;width:100%;border-bottom:solid 1px #ccc;}
.media{float:left}
.info{float:left;margin:0 0 0 20px;}